/* Become a Sponsor
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.become-a-sponsor {
  .hairline-top-wrapper {
    padding-top: 1em;
  }
  .page-intro {
    .button {
      padding-left: 2em;
      padding-right: 2em;
    }
    .call-to-action {
      font-size: $font-small;
      .button {
        vertical-align: baseline;
      }
      span {
        display: block;
        @media screen and (min-width: $medium){
          padding-left: .75em;
          display: inline-block;
        }
      }
    }
  }
  .xsponsor-list {
    h2 {
      margin-top: 1em;
    }
    ul.xsponsors {
      list-style: none;
      margin-top: 1em;
      overflow: hidden;
      li.xsponsor {
        margin-top: 0;
        width: 50%;
        float: left;
        display: table-cell;
        height: 3.5em;
        padding-right: 2em;
        vertical-align: middle;
        padding: .25em 3em .25em 0;
        @media screen and (min-width: $medium){
          width: 50%;
        }
        span {
          display: inline-block;
          height: 100%;
          width: 1px;
          margin-left: -1px;
          vertical-align: middle;
        }
        img {
          max-height: 100%;
          vertical-align: middle;
        }
      }
    }
    .general-xsponsors {
      & > .row {
        border-bottom: 1px solid $hairline;
        padding-bottom: 1em;
      }
      h3 {
        margin-top: 1em;
      }
      ul.xsponsors {
        li.xsponsor {
        }
      }
    }
    .previous-xsponsors {
      padding-bottom: 6em;
      & > div.row {
        padding-top: 1em;
      }
      ol.xsponsor-events {
        list-style: none;
        margin: 0;
        padding: .5em 0 0;
        @media screen and (min-width: $medium){
          padding-bottom: 2.5em;
          padding-top: 1.85em;
        }
        @media screen and (min-width: $large){
          padding-top: 2.5em;
        }

        li.xsponsor-event {
          display: block;
          position: relative;
          margin-bottom: 1em;
          border-bottom: 1px solid $hairline;
          padding-bottom: 2em;
          @media screen and (min-width: $medium){
            margin-bottom: 2em;
          }
          &:last-child {
            border: none;
          }
          h3 {
            font-weight: normal;
            color: $gray;
            letter-spacing: 0;
            font-size: $font-xsmall;
            position: relative;
            margin-bottom: 2em;
            @media screen and (min-width: $medium){
              margin-bottom: .5em;
            }

          }
        }
      }
    }
  }
}
