/* Contact
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.contact-thank-you {
  .page-intro {
    text-align: center;
    p {
      padding-left: 0em;
      padding-right: 0em;
    }
    .hairline-bottom-wrapper {
      padding-bottom: 4em;
      margin-bottom: 0;
    }
  }
}


#public { // This is WuFoo's body ID
  padding-top: 2em;
  height: 100%;
  #header {
    border: none;
    h2 {
      display:none;
    }
    div {
      font-weight: bold;
      color: $black;
      font-size: $font-xxlarge;
      text-align: center;
      margin-top: 1em;
      letter-spacing: -.03em;
    }
  }
  input[type="text"], input[type="email"], textarea{
    padding: .75em .75em !important;
    @include border-radius(0);
  }
  li {
    margin-bottom: .75em;
  }
  li.inquiry-type {
    // margin-bottom: 2em;
    fieldset {
      legend {
        display: none;
      }
      div{
        span {
          width: 33%;
          float: left;
          // background: yellow;
          position: relative;
          text-align: center;
          color: $black;
          font-weight: bold;
          font-size: $font-xsmall;
          letter-spacing: -0.03em;
          overflow: hidden;
          @media screen and (min-width: $small){
            font-size: $font-small;
          }
          @media screen and (min-width: $small-medium){
            font-size: $font-medium;
          }
          label.choice {
            clear: both;
            padding: 2em 0 4em;
            // background: orange;
            margin-left: 0;
            margin-top: 0;
            margin-right: 0;
            width: 100%;

            &:before {
              content: '';
              display: block;
              width: 50px;
              height: 50px;
              margin: 0 auto 1em;

              background-size: contain;
              background-repeat: no-repeat;
              @media screen and (min-width: $small-medium){
                width: 60px;
                height: 60px;
              }
            }
            &[for="Field1_0"] {
              &:before {
                background-image: url('https://www.dropbox.com/s/fsbmvyi25s0fg0x/icon-general-questions%402x.png?dl=1');
              }
            }
            &[for="Field1_1"] {
              &:before {
                background-image: url('https://www.dropbox.com/s/usj5oetlu1gchl9/icon-sponsorships%402x.png?dl=1');
              }
            }
            &[for="Field1_2"] {
              &:before {
                background-image: url('https://www.dropbox.com/s/ogi26dxuvbweglb/icon-find-a-speaker%402x.png?dl=1');
              }
            }
            span.choice__qty {
              display: none !important;
            }
          }
          input[type="radio"] {
            position: absolute;
            left: 50%;
            @include translate(-50%, 0);
            bottom: 2em;
            &:checked {
              + label {
                background: $drawer-bg;
                @include border-radius(.25em);
                z-index: -999;
              }
            }
          }
        }
      }
    }
  }
  .desc {
    color: $black;
    letter-spacing: -.03em;
    margin-bottom: .25em;
    font-size: $font-small;
  }
  .req {
    display: none !important;
  }
  .choice__text {
    color: $gray;
    font-size: $font-medium;
  }
  #container {
    width: 96%;
    max-width: 53.75em;
    background: none;
    box-shadow: none;
    border: none;
  }
  h1#logo {
    margin: 0 auto;
    width: 165px; /* 142px */
    height: 57px; /* 87px */
    display: block;
    background-color: transparent;
    background-image: url('https://www.dropbox.com/s/aoz4dfbw0i6pkf6/whw-logo-big%402x.png?dl=1');
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='https://www.dropbox.com/s/aoz4dfbw0i6pkf6/whw-logo-big%402x.png?dl=1', sizingMethod='scale');
    background-size: 100%;
    background-repeat: no-repeat;
    margin-bottom: 0em;
    a {
      display: none !important;
    }
  }
  .invoice thead th, .invoice tbody th, .invoice tbody td, .invoice tfoot th, .invoice .total, .invoice tfoot .last th, .invoice tfoot .last td, .invoice tfoot th, .invoice tfoot td {
    border-color: #d2cdcc;
  }
  .wufoo input.text, .wufoo textarea.textarea, .wufoo input.file {
    font-size: 16px;
    border: 0;
    background-color: white;
    background-image: none;
    padding: 4px 6px;
    color: #584D4B;
    box-sizing: border-box;
  }
  .focused {
    background: none;
  }
  .helper-text {
    font-weight: normal;
    color: $gray;
  }
  input#saveForm,
  .wufoo input.btTxt {
    font-weight: 700;
    padding: .6em 2.5em .6em;
    background-color: $blue;
    font-family: Poppins, sans-serif;
    color: #fff;
    font-weight: normal;
    border: none;
    cursor: pointer;
    -webkit-appearance: none;
    @include border-radius(999em);
    width: 100%;
    @media screen and (min-width: $small-medium){
      width: auto;
    }
  }

  .noI .leftLabel .buttons, .noI .rightLabel .buttons {
    padding-left: 0;
    @media screen and (min-width: 767px){
      padding-left: 31%;
    }
  }
  .noI .leftLabel .buttons div, .noI .rightLabel .buttons div {
    margin: 0 0 0 1%;
    @media screen and (min-width: 767px){
      margin: 0 0 0 17px;
    }
  }
}
#errorMsgLbl {
  color:#E34E32 !important;
  font-size:$font-small;
}
#errorLi {
  border:1px solid #9E928E;
  padding:12px;
}
#errorMsg b {
  color:#E34E32 !important
}
p.error {
  font-weight: normal !important;
}
