/* The Women
–––––––––––––––––––––––––––––––––––––––––––––––––– */
section.the-blogs {
  section.the-posts {
    div.row {
      div.columns {
        ul.featured-blogs {
          list-style: none;
          li.grid-sizer {
            width: 49%;
          }
          li.gutter-sizer {
            width: 2%;
          }
          li.grid-item {
            width: 49%;
            margin-bottom: 1.2em;
          }
          li.blog {
            .wrapper {
              background-color: white;
              padding: 20px;
              a {
                div.blog-image {
                  width: 100%;
                  height: 300px;
                  float: left;
                  // @media screen and (min-width: $medium){
                  //   height: 360px;
                  // }
                  // @media screen and (min-width: $large){
                  //   height: 300px;
                  // }
                  overflow: hidden;
                  display: block;
                  position: relative;
                  margin-top: 1.5em;
                  margin-bottom: 1em;
                  background-size: cover;
                  background-position: center;
                  &:after {
                    content: '';
                    width: 100%;
                    height: 100%;
                    background-color: $orange;
                    display: block;
                    position: relative;
                    opacity: 0.2;
                  }
                }
                h3 {
                  font-size: $font-large;
                  line-height: 1.2em;
                  color: $black;
                }
                p.blog-description {
                  font-size: $font-medium;
                  margin-top: .65em;
                  line-height: 1.6em;
                  margin-bottom: 1em;
                }
                small.blog-source {
                  color: $gray;
                  text-transform: uppercase;
                  letter-spacing: .025em;
                  margin-bottom: 1em;
                  opacity: 0.65;
                  &:after {
                    content: '';
                    display: inline-block;

                  }
                }
                div.byline {
                  margin-bottom: 1em;
                  &:after {
                    content: '';
                    display: block;
                    clear: both;
                  }
                  div.author-image {
                    display: block;
                    width: 30px;
                    height: 30px;
                    margin-top: -5px;
                    overflow: hidden;
                    float: left;
                    border-radius: 999em;
                    margin-right: 15px;
                    img {
                      width: 100%;
                      opacity: 1;
                    }
                  }
                  p.blog-author {
                    line-height: 1em;
                    margin: 5px;
                    // font-weight: bold;
                    color: $pink;
                    // letter-spacing: -.025em;
                  }
                }
              }
            }
            &:hover {
              div.wrapper {
                @include transform(translateY(-.3em));
                @include transition(all 150ms cubic-bezier(0.77, 0, 0.175, 1));
                a {
                  p.blog-author {
                    color: $gray;
                  }
                  div.blog-image {
                    img {
                      opacity: 100;
                      @include transition(opacity 150ms)
                    }
                    &:after {
                      opacity: 0.05;
                    }
                  }
                  h3 {
                    color: $blue;
                  }
                  small.blog-source {
                    opacity: 1;
                  }
                }
              }
            }
          }
          li.featured {
            .wrapper {
              a {
                h3 {
                  font-size: $font-xlarge;
                  line-height: 1.1em;
                  color: $black;
                }

                p.blog-description {
                  font-size: $font-medium-large;
                  margin-top: .35em;
                  margin-bottom: .5em;
                }
              }
            }
          }
        }
      }
    }
  }
}
