/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
$font-xxsmall: .6875em; // 11px
$font-xsmall: .8125em; // 13px
$font-small: .9375em; // 15px
$font-medium: 1.125em; // 18px
$font-medium-large: 1.3125em; // 21px
$font-large: 1.625em; // 26px
$font-xlarge: 2.5em; // 40px
$font-xxlarge: 3.375em; // 54px

@import url('//fonts.googleapis.com/css?family=Poppins:400,700');

body * {
  font-family: 'Poppins', sans-serif !important;
}

h1 {
  font-size: $font-large;
  line-height: 1.2em;
  margin: 0;
  letter-spacing: -2px;
  @media screen and (min-width: $small){
    font-size: $font-xlarge;
  }
  @media screen and (min-width: $large){
    font-size: $font-xxlarge;
  }
}
h2 {
  letter-spacing: -.03em;
  @media screen and (min-width: $small){
    font-size: $font-medium-large;
  }
  @media screen and (min-width: $large) {
    font-size: $font-large;
  }
}
h3 {
  font-size: $font-small;
  letter-spacing: -.03em;
  padding: 0;
  margin: 0;
  @media screen and (min-width: $small-medium){
    font-size: $font-medium;
  }
}
h5 {
  margin: 0;
  font-size: $font-small;
}
figcaption {
  font-size: $font-xsmall;
  color: $gray;
  line-height: 1.5em;
}
a {
  color: $blue;
  text-decoration: none;
}
