<!doctype html>
<html>
<head>
  <meta property="og:url" content="http://emberwomen.com" />
  <meta property="og:image" content="http://emberwomen.com/images/whw-og-logo.png" />
  <meta property="og:title" content="Ember Women Helping Women" />
  <meta property="og:description" content="Ember Women helps women land speaking roles at tech conferences through ongoing mentorship, support and connections to event organizers around the world." />
  <meta charset="utf-8">

<link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
<link rel="icon" type="image/png" href="images/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="images/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="images/manifest.json">
<link rel="mask-icon" href="images/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="images/favicon.ico">
<meta name="msapplication-config" content="images/browserconfig.xml">
<meta name="theme-color" content="#eeebeb">

  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="images/ms-icon-144x144.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Always force latest IE rendering engine or request Chrome Frame -->
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <!-- <link rel="stylesheet" href="css/foundation.css">
  <link rel="stylesheet" href="css/app.css"> -->
  <link rel="author" href="humans.txt">
  <!-- Use title if it's in the page YAML frontmatter -->
  <title><%= current_page.data.title %></title>
  <!-- <%= stylesheet_link_tag "foundation" %> -->
  <%= stylesheet_link_tag "app" %>

  <!--[if IE]>
  <link rel="stylesheet" type="text/css" href="stylesheets/ie-styles.css" />
  <![endif]-->
  <!-- <link href='//fonts.googleapis.com/css?family=Poppins:400,700' rel='stylesheet' type='text/css'> -->
</head>

<body>
  <%= yield %>
</body>
</html>
