@charset "UTF-8";
/* Breakpoints
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 13, ../sass/typography.scss */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #EEEBEB;
}

/* line 18, ../sass/typography.scss */
h1 {
  font-size: 1.625em;
  line-height: 1.2em;
  margin: 0;
  letter-spacing: -2px;
}
@media screen and (min-width: 23.75em) {
  /* line 18, ../sass/typography.scss */
  h1 {
    font-size: 2.5em;
  }
}
@media screen and (min-width: 64.0625em) {
  /* line 18, ../sass/typography.scss */
  h1 {
    font-size: 3.375em;
  }
}
/* line 29, ../sass/typography.scss */
h1 + p {
  margin-top: .625em;
  color: #817B74;
  font-size: 0.9375em;
}
@media screen and (min-width: 23.75em) {
  /* line 29, ../sass/typography.scss */
  h1 + p {
    font-size: 1.125em;
    padding-right: 0;
  }
}
@media screen and (min-width: 40.0625em) {
  /* line 29, ../sass/typography.scss */
  h1 + p {
    font-size: 1.3125em;
    padding-right: 3.75em;
  }
}
@media screen and (min-width: 64.0625em) {
  /* line 29, ../sass/typography.scss */
  h1 + p {
    font-size: 1.625em;
  }
}

/* line 46, ../sass/typography.scss */
h2 {
  letter-spacing: -1px;
}
@media screen and (min-width: 23.75em) {
  /* line 46, ../sass/typography.scss */
  h2 {
    font-size: 1.3125em;
  }
}
@media screen and (min-width: 64.0625em) {
  /* line 46, ../sass/typography.scss */
  h2 {
    font-size: 1.625em;
  }
}

/* line 55, ../sass/typography.scss */
h3 {
  font-size: 0.9375em;
  padding: 0;
  margin: 0;
}

/* line 60, ../sass/typography.scss */
h5 {
  margin: 0;
  font-size: 0.9375em;
}

/* line 64, ../sass/typography.scss */
figcaption {
  font-size: 0.8125em;
  color: #817B74;
  line-height: 1.5em;
}

/* Retina Background Images
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Adds Browser Prefix to Property
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Transition
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Transform
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Transform Style
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Transform Origin
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Border Radius
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Homepage
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 5, ../sass/home.scss */
.home .showcase {
  position: relative;
  background-image: url("../images/lauren-tan-speaking.jpg");
  background-position: bottom right;
  background-color: #1D1209;
  background-repeat: no-repeat;
  padding-bottom: 6em;
}
/* line 6, ../sass/home.scss */
.home .showcase:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #211206;
  opacity: .7;
}
@media screen and (min-width: 40.0625em) {
  /* line 6, ../sass/home.scss */
  .home .showcase:before {
    display: none;
  }
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  /* line 5, ../sass/home.scss */
  .home .showcase {
    background-image: url("../images/lauren-tan-speaking@2x.jpg");
    background-size: 300% auto;
  }
}
@media screen and (min-width: 23.75em) {
  /* line 5, ../sass/home.scss */
  .home .showcase {
    background-size: 175% auto;
  }
}
@media screen and (min-width: 31.5em) {
  /* line 5, ../sass/home.scss */
  .home .showcase {
    background-size: 135% auto;
  }
}
@media screen and (min-width: 40.0625em) {
  /* line 5, ../sass/home.scss */
  .home .showcase {
    background-size: auto 100%;
    padding-bottom: 10em;
  }
}
@media screen and (min-width: 87.5em) {
  /* line 5, ../sass/home.scss */
  .home .showcase {
    background-size: auto 100%;
    background-position: 33%, 0;
  }
}
/* line 44, ../sass/home.scss */
.home .showcase .main-menu ul li a:hover {
  color: white;
}
/* line 51, ../sass/home.scss */
.home .showcase .page-intro {
  margin-top: 1em;
  text-align: center;
  position: relative;
}
@media screen and (min-width: 40.0625em) {
  /* line 51, ../sass/home.scss */
  .home .showcase .page-intro {
    text-align: left;
    margin-top: 4em;
  }
}
/* line 59, ../sass/home.scss */
.home .showcase .page-intro h1 {
  color: white;
  padding-left: 10%;
  padding-right: 10%;
}
@media screen and (min-width: 23.75em) {
  /* line 59, ../sass/home.scss */
  .home .showcase .page-intro h1 {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (min-width: 31.5em) {
  /* line 59, ../sass/home.scss */
  .home .showcase .page-intro h1 {
    padding-left: 0;
    padding-right: 0em;
  }
}
@media screen and (min-width: 40.0625em) {
  /* line 59, ../sass/home.scss */
  .home .showcase .page-intro h1 {
    padding-left: 0;
    padding-right: 3em;
  }
}
@media screen and (min-width: 52em) {
  /* line 59, ../sass/home.scss */
  .home .showcase .page-intro h1 {
    padding-left: 0;
    padding-right: 4em;
  }
}
@media screen and (min-width: 64.0625em) {
  /* line 59, ../sass/home.scss */
  .home .showcase .page-intro h1 {
    padding-left: 0;
    padding-right: 0;
  }
}
/* line 84, ../sass/home.scss */
.home .showcase .page-intro p {
  color: #857B70;
}
@media screen and (min-width: 40.0625em) {
  /* line 84, ../sass/home.scss */
  .home .showcase .page-intro p {
    padding-right: 5em;
  }
}
/* line 91, ../sass/home.scss */
.home .showcase .page-intro a.button {
  padding-left: 2.5em;
  padding-right: 2.5em;
  background: none;
  border: 1px solid #00ADC4;
}
/* line 96, ../sass/home.scss */
.home .showcase .page-intro a.button:hover {
  border-color: #007E9D;
}
/* line 103, ../sass/home.scss */
.home .women-intro {
  text-align: center;
  padding-top: 4em;
}
/* line 107, ../sass/home.scss */
.home .women-intro div h2 {
  padding-right: 0;
  margin-top: 2em;
  margin-bottom: .25em;
}
/* line 112, ../sass/home.scss */
.home .women-intro div p {
  padding: 0;
  font-size: 1.125em;
  margin-top: 0;
}
@media screen and (min-width: 40.0625em) {
  /* line 112, ../sass/home.scss */
  .home .women-intro div p {
    padding: 0 10% 0;
    font-size: 1.3125em;
  }
}
/* line 121, ../sass/home.scss */
.home .women-intro div p a {
  color: #00ADC4;
  cursor: pointer;
}
/* line 124, ../sass/home.scss */
.home .women-intro div p a:hover {
  color: #007E9D;
}
/* line 130, ../sass/home.scss */
.home .women-intro div a.button {
  border: 1px solid #00ADC4;
  color: #00ADC4;
  background: none;
  padding-left: 1.75em;
  padding-right: 1.75em;
}
/* line 136, ../sass/home.scss */
.home .women-intro div a.button:hover {
  color: #007E9D;
  border: 1px solid #007E9D;
}

/* The Program
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 5, ../sass/the-program.scss */
.the-program .speaker-photo figure {
  display: block;
  text-align: center;
  padding: 0;
  margin: 1em 0 0;
}
/* line 10, ../sass/the-program.scss */
.the-program .speaker-photo figure img {
  width: 100%;
}
/* line 13, ../sass/the-program.scss */
.the-program .speaker-photo figure figcaption {
  margin-top: 1em;
}
/* line 15, ../sass/the-program.scss */
.the-program .speaker-photo figure figcaption a {
  color: #00ADC4;
}
/* line 17, ../sass/the-program.scss */
.the-program .speaker-photo figure figcaption a:hover {
  color: #007E9D;
}
/* line 24, ../sass/the-program.scss */
.the-program .program-benefits {
  padding-top: 3.125em;
}
/* line 27, ../sass/the-program.scss */
.the-program .program-benefits div .border-wrapper {
  border-bottom: 1px solid #C8C3C3;
}
/* line 29, ../sass/the-program.scss */
.the-program .program-benefits div .border-wrapper h2 {
  padding-right: 1em;
}
/* line 32, ../sass/the-program.scss */
.the-program .program-benefits div .border-wrapper ul {
  padding-top: 2.5em;
  list-style: none;
  margin-bottom: 0px;
  padding-bottom: 1.25em;
}
/* line 37, ../sass/the-program.scss */
.the-program .program-benefits div .border-wrapper ul li {
  position: relative;
  padding: 0 0 2.5em 5em;
}
@media screen and (min-width: 40.0625em) {
  /* line 37, ../sass/the-program.scss */
  .the-program .program-benefits div .border-wrapper ul li {
    width: 50%;
    padding: 0 1.25em 2.5em 5em;
    display: inline-block;
    vertical-align: top;
  }
  /* line 45, ../sass/the-program.scss */
  .the-program .program-benefits div .border-wrapper ul li:last-child {
    width: 100%;
    padding-right: 30%;
  }
}
@media screen and (min-width: 64.0625em) {
  /* line 37, ../sass/the-program.scss */
  .the-program .program-benefits div .border-wrapper ul li {
    padding: 0 1.25em 2.5em 6.25em;
  }
}
/* line 53, ../sass/the-program.scss */
.the-program .program-benefits div .border-wrapper ul li p {
  margin-top: .25em;
  font-size: 0.9375em;
  color: #817B74;
}
/* line 58, ../sass/the-program.scss */
.the-program .program-benefits div .border-wrapper ul li .icon {
  width: 3.375em;
  height: 3.375em;
  position: absolute;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
  left: 0;
}
@media screen and (min-width: 64.0625em) {
  /* line 58, ../sass/the-program.scss */
  .the-program .program-benefits div .border-wrapper ul li .icon {
    width: 4.625em;
    height: 4.625em;
  }
}
/* line 77, ../sass/the-program.scss */
.the-program .email-signup {
  text-align: left;
}
/* line 79, ../sass/the-program.scss */
.the-program .email-signup .border-wrapper {
  padding-bottom: 0;
  border: none;
}
@media screen and (min-width: 40.0625em) {
  /* line 79, ../sass/the-program.scss */
  .the-program .email-signup .border-wrapper {
    padding-bottom: 2em;
    border-bottom: 1px solid #C8C3C3;
  }
}
/* line 87, ../sass/the-program.scss */
.the-program .email-signup .pay-it-forward {
  text-align: right;
  margin-top: 4em;
}
@media screen and (min-width: 40.0625em) {
  /* line 87, ../sass/the-program.scss */
  .the-program .email-signup .pay-it-forward {
    background-color: transparent;
    margin-top: 0;
  }
}
/* line 94, ../sass/the-program.scss */
.the-program .email-signup .pay-it-forward .circle {
  position: relative;
  display: block;
  color: #222;
  text-align: center;
  background-color: #D9D5D5;
}
@media screen and (min-width: 40.0625em) {
  /* line 94, ../sass/the-program.scss */
  .the-program .email-signup .pay-it-forward .circle {
    margin-left: 0em;
    margin-top: -4em;
    float: right;
    width: 20em;
    background-color: transparent;
  }
}
@media screen and (min-width: 64.0625em) {
  /* line 94, ../sass/the-program.scss */
  .the-program .email-signup .pay-it-forward .circle {
    margin-left: 2em;
    margin-top: -6em;
  }
}
@media screen and (min-width: 40.0625em) {
  /* line 112, ../sass/the-program.scss */
  .the-program .email-signup .pay-it-forward .circle .circle__inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
/* line 122, ../sass/the-program.scss */
.the-program .email-signup .pay-it-forward .circle .circle__inner .circle__wrapper {
  display: table;
  width: 100%;
  height: 100%;
}
/* line 126, ../sass/the-program.scss */
.the-program .email-signup .pay-it-forward .circle .circle__inner .circle__wrapper .circle__content {
  display: table-cell;
  padding: 1em;
  vertical-align: middle;
}
/* line 130, ../sass/the-program.scss */
.the-program .email-signup .pay-it-forward .circle .circle__inner .circle__wrapper .circle__content p {
  font-size: 0.8125em;
  margin-top: 0;
  padding: 0 2em 0 2em;
}
@media screen and (min-width: 40.0625em) {
  /* line 138, ../sass/the-program.scss */
  .the-program .email-signup .pay-it-forward .circle:after {
    display: block;
    padding-bottom: 100%;
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #D9D5D5;
    content: "";
  }
}

/* The Women
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 4, ../sass/the-women.scss */
.the-women .women-list {
  padding-top: 2.5em;
  overflow: hidden;
}
/* line 7, ../sass/the-women.scss */
.the-women .women-list ul {
  list-style: none;
  margin: 0 auto;
  text-align: left;
  width: 100%;
  position: relative;
  padding: .5em;
}
/* line 14, ../sass/the-women.scss */
.the-women .women-list ul li {
  position: relative;
  margin: 0;
  vertical-align: top;
  padding: 0 1%;
}
/* line 21, ../sass/the-women.scss */
.the-women .women-list ul li.woman a div.woman-thumb {
  background: #EC8820;
  display: block;
  position: relative;
  padding-bottom: 65%;
  overflow: hidden;
}
/* line 27, ../sass/the-women.scss */
.the-women .women-list ul li.woman a div.woman-thumb img {
  width: 100%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: .8;
}
/* line 35, ../sass/the-women.scss */
.the-women .women-list ul li.woman a div.woman-thumb img:hover {
  opacity: .95;
}
/* line 39, ../sass/the-women.scss */
.the-women .women-list ul li.woman a div.woman-thumb p.mentor-badge {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
  color: white;
  margin: 0;
  line-height: 1.2em;
  display: block;
  background: #8DB580;
  padding: .25em;
  font-size: 0.6875em;
  padding: .25em .75em;
}
/* line 55, ../sass/the-women.scss */
.the-women .women-list ul li.woman div.basic-info {
  text-align: center;
  padding-left: .25em;
  padding-right: .25em;
  margin-top: .75em;
  min-height: 6em;
}
/* line 60, ../sass/the-women.scss */
.the-women .women-list ul li.woman div.basic-info h3 {
  line-height: 1.3em;
  color: #120C07;
}
/* line 65, ../sass/the-women.scss */
.the-women .women-list ul li.woman div.basic-info p.job-title {
  color: #817B74;
  margin: .3em 0 0;
  display: block;
  line-height: 1.3em;
  font-size: 0.8125em;
}
/* line 72, ../sass/the-women.scss */
.the-women .women-list ul li.woman div.basic-info p.location {
  font-size: 0.6875em;
  line-height: 1.2em;
  display: inline-block;
}
@media screen and (min-width: 40.0625em) {
  /* line 55, ../sass/the-women.scss */
  .the-women .women-list ul li.woman div.basic-info {
    min-height: 7em;
  }
}
@media screen and (min-width: 52em) {
  /* line 55, ../sass/the-women.scss */
  .the-women .women-list ul li.woman div.basic-info {
    min-height: 8em;
  }
}
@media screen and (min-width: 64.0625em) {
  /* line 55, ../sass/the-women.scss */
  .the-women .women-list ul li.woman div.basic-info {
    min-height: 7.25em;
  }
}
/* line 92, ../sass/the-women.scss */
.the-women .women-list ul li.woman:nth-child(2n+1) .expand {
  margin-left: 0em;
}
/* line 94, ../sass/the-women.scss */
.the-women .women-list ul li.woman:nth-child(2n+1) .expand:after {
  left: 25%;
  margin-left: -.9375em;
}
/* line 102, ../sass/the-women.scss */
.the-women .women-list ul li.woman:nth-child(2n+2) .expand {
  margin-left: -104.1567912%;
}
/* line 104, ../sass/the-women.scss */
.the-women .women-list ul li.woman:nth-child(2n+2) .expand:after {
  left: 75%;
  margin-left: -.9375em;
}
@media screen and (min-width: 40.0625em) {
  /* line 113, ../sass/the-women.scss */
  .the-women .women-list ul li.woman:nth-child(3n+1) .expand {
    margin-left: 0;
  }
  /* line 116, ../sass/the-women.scss */
  .the-women .women-list ul li.woman:nth-child(3n+1) .expand:after {
    left: 16.666666666%;
    margin-left: -.9375em;
  }
}
@media screen and (min-width: 40.0625em) {
  /* line 125, ../sass/the-women.scss */
  .the-women .women-list ul li.woman:nth-child(3n+2) .expand {
    margin-left: -106.3781274%;
  }
  /* line 128, ../sass/the-women.scss */
  .the-women .women-list ul li.woman:nth-child(3n+2) .expand:after {
    left: 50%;
    margin-left: -.9375em;
  }
}
@media screen and (min-width: 40.0625em) {
  /* line 137, ../sass/the-women.scss */
  .the-women .women-list ul li.woman:nth-child(3n+3) .expand {
    margin-left: -212.7581748%;
  }
  /* line 140, ../sass/the-women.scss */
  .the-women .women-list ul li.woman:nth-child(3n+3) .expand:after {
    left: 83.333333334%;
    margin-left: -.9375em;
  }
}
@media screen and (min-width: 64.0625em) {
  /* line 149, ../sass/the-women.scss */
  .the-women .women-list ul li.woman:nth-child(4n+1) .expand {
    margin-left: 0em;
  }
  /* line 152, ../sass/the-women.scss */
  .the-women .women-list ul li.woman:nth-child(4n+1) .expand:after {
    left: 12.5%;
    margin-left: -.9375em;
  }
}
@media screen and (min-width: 64.0625em) {
  /* line 161, ../sass/the-women.scss */
  .the-women .women-list ul li.woman:nth-child(4n+2) .expand {
    margin-left: -108.6842803%;
  }
  /* line 164, ../sass/the-women.scss */
  .the-women .women-list ul li.woman:nth-child(4n+2) .expand:after {
    left: 37.5%;
    margin-left: -.9375em;
  }
}
@media screen and (min-width: 64.0625em) {
  /* line 173, ../sass/the-women.scss */
  .the-women .women-list ul li.woman:nth-child(4n+3) .expand {
    margin-left: -217.3685606%;
  }
  /* line 176, ../sass/the-women.scss */
  .the-women .women-list ul li.woman:nth-child(4n+3) .expand:after {
    left: 62.5%;
    margin-left: -.9375em;
  }
}
@media screen and (min-width: 64.0625em) {
  /* line 185, ../sass/the-women.scss */
  .the-women .women-list ul li.woman:nth-child(4n+4) .expand {
    margin-left: -326.0528409%;
  }
  /* line 188, ../sass/the-women.scss */
  .the-women .women-list ul li.woman:nth-child(4n+4) .expand:after {
    left: 87.5%;
    margin-left: -.9375em;
  }
}
/* line 195, ../sass/the-women.scss */
.the-women .women-list ul li.woman .expand {
  width: 204.1567912%;
  padding: 0;
  position: relative;
  background-color: #D9D5D5;
  overflow: hidden;
  height: 0;
  opacity: 0;
}
@media screen and (min-width: 40.0625em) {
  /* line 195, ../sass/the-women.scss */
  .the-women .women-list ul li.woman .expand {
    width: 312.7445208%;
  }
}
@media screen and (min-width: 64.0625em) {
  /* line 195, ../sass/the-women.scss */
  .the-women .women-list ul li.woman .expand {
    width: 426.0528409%;
  }
}
/* line 209, ../sass/the-women.scss */
.the-women .women-list ul li.woman .expand:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-left: .9375em solid transparent;
  border-right: .9375em solid transparent;
  border-bottom: 0.9375em solid #D9D5D5;
  position: absolute;
  top: -.9375em;
}
/* line 222, ../sass/the-women.scss */
.the-women .women-list ul li.woman .expand div div h2 {
  margin: 0;
  float: left;
}
/* line 226, ../sass/the-women.scss */
.the-women .women-list ul li.woman .expand div div p {
  color: #817B74;
  clear: both;
}
@media screen and (min-width: 40.0625em) {
  /* line 226, ../sass/the-women.scss */
  .the-women .women-list ul li.woman .expand div div p {
    padding: 0px 2.5em 0px 0px;
  }
}
/* line 232, ../sass/the-women.scss */
.the-women .women-list ul li.woman .expand div div p.job-title {
  color: #817B74;
  margin-top: 0;
}
@media screen and (min-width: 23.75em) {
  /* line 232, ../sass/the-women.scss */
  .the-women .women-list ul li.woman .expand div div p.job-title {
    margin-top: -.625em;
  }
}
/* line 240, ../sass/the-women.scss */
.the-women .women-list ul li.woman .expand div div p.bio:first-child {
  margin-top: 0;
}
/* line 243, ../sass/the-women.scss */
.the-women .women-list ul li.woman .expand div div p.bio a {
  color: #00ADC4;
}
/* line 245, ../sass/the-women.scss */
.the-women .women-list ul li.woman .expand div div p.bio a:hover {
  color: #007E9D;
}
/* line 251, ../sass/the-women.scss */
.the-women .women-list ul li.woman .expand div div a.video-thumb {
  display: inline-block;
  margin-top: 1.25em;
}
@media screen and (min-width: 40.0625em) {
  /* line 251, ../sass/the-women.scss */
  .the-women .women-list ul li.woman .expand div div a.video-thumb {
    margin-top: 0;
  }
}
/* line 257, ../sass/the-women.scss */
.the-women .women-list ul li.woman .expand div div a.video-thumb figure {
  display: inline-block;
  position: relative;
  margin: 0;
  width: 75%;
  display: inline-block;
  position: relative;
}
@media screen and (min-width: 23.75em) {
  /* line 257, ../sass/the-women.scss */
  .the-women .women-list ul li.woman .expand div div a.video-thumb figure {
    width: 100%;
  }
}
/* line 267, ../sass/the-women.scss */
.the-women .women-list ul li.woman .expand div div a.video-thumb figure div {
  position: relative;
  display: inline-block;
  background: #120C07;
}
/* line 271, ../sass/the-women.scss */
.the-women .women-list ul li.woman .expand div div a.video-thumb figure div:after {
  content: '';
  background-image: url("../images/icon-play.png");
  display: block;
  width: 3.6875em;
  height: 3.6875em;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -1.875em;
  margin-top: -1.875em;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  /* line 271, ../sass/the-women.scss */
  .the-women .women-list ul li.woman .expand div div a.video-thumb figure div:after {
    background-image: url("../images/icon-play@2x.png");
    background-size: 100% auto;
  }
}
/* line 284, ../sass/the-women.scss */
.the-women .women-list ul li.woman .expand div div a.video-thumb figure div:hover img {
  opacity: 1;
}
/* line 288, ../sass/the-women.scss */
.the-women .women-list ul li.woman .expand div div a.video-thumb figure div img {
  opacity: .75;
}
/* line 292, ../sass/the-women.scss */
.the-women .women-list ul li.woman .expand div div a.video-thumb figure figcaption {
  margin-top: .625em;
}
/* line 298, ../sass/the-women.scss */
.the-women .women-list ul li.woman .expand div div a.twitter {
  display: inline-block;
  background-image: url("../images/icon-twitter.png");
  background-size: 100%;
  opacity: .5;
  height: 1.5em;
  width: 1.5em;
  margin-left: .625em;
  position: relative;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
  /* line 298, ../sass/the-women.scss */
  .the-women .women-list ul li.woman .expand div div a.twitter {
    background-image: url("../images/icon-twitter@2x.png");
    background-size: 100% auto;
  }
}
@media screen and (min-width: 23.75em) {
  /* line 298, ../sass/the-women.scss */
  .the-women .women-list ul li.woman .expand div div a.twitter {
    top: -1px;
  }
}
@media screen and (min-width: 40.0625em) {
  /* line 298, ../sass/the-women.scss */
  .the-women .women-list ul li.woman .expand div div a.twitter {
    height: 1.5em;
    width: 1.5em;
  }
}
@media screen and (min-width: 64.0625em) {
  /* line 298, ../sass/the-women.scss */
  .the-women .women-list ul li.woman .expand div div a.twitter {
    height: 1.75em;
    width: 1.75em;
    top: .125em;
  }
}
/* line 319, ../sass/the-women.scss */
.the-women .women-list ul li.woman .expand div div a.twitter:hover {
  opacity: .8;
}
/* line 324, ../sass/the-women.scss */
.the-women .women-list ul li.woman .expand div div ul.other-links {
  margin: 0;
  padding: 0;
}
/* line 327, ../sass/the-women.scss */
.the-women .women-list ul li.woman .expand div div ul.other-links li {
  display: block;
  width: 100%;
  padding: 0;
}
/* line 331, ../sass/the-women.scss */
.the-women .women-list ul li.woman .expand div div ul.other-links li a {
  color: #00ADC4;
  font-size: 0.8125em;
}
/* line 334, ../sass/the-women.scss */
.the-women .women-list ul li.woman .expand div div ul.other-links li a:hover {
  color: #007E9D;
}
/* line 346, ../sass/the-women.scss */
.the-women .women-list ul li.woman.inactive a:hover .woman-thumb {
  opacity: 1;
  background: #EC8820;
}
/* line 349, ../sass/the-women.scss */
.the-women .women-list ul li.woman.inactive a:hover .woman-thumb img {
  opacity: .8;
}
/* line 353, ../sass/the-women.scss */
.the-women .women-list ul li.woman.inactive a:hover .basic-info {
  opacity: 1;
}
/* line 357, ../sass/the-women.scss */
.the-women .women-list ul li.woman.inactive a div.woman-thumb {
  opacity: .5;
  background: #120C07;
}
/* line 360, ../sass/the-women.scss */
.the-women .women-list ul li.woman.inactive a div.woman-thumb img {
  opacity: .5;
}
/* line 364, ../sass/the-women.scss */
.the-women .women-list ul li.woman.inactive a div.basic-info {
  opacity: .1;
}
/* line 370, ../sass/the-women.scss */
.the-women .women-list ul li.woman.active .woman-thumb {
  -webkit-transform: scale(1.15);
  -khtml-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
  -webkit-transform-origin: bottom center;
  -khtml-transform-origin: bottom center;
  -moz-transform-origin: bottom center;
  -ms-transform-origin: bottom center;
  -o-transform-origin: bottom center;
  transform-origin: bottom center;
  z-index: 9999;
}
@media screen and (min-width: 64.0625em) {
  /* line 370, ../sass/the-women.scss */
  .the-women .women-list ul li.woman.active .woman-thumb {
    -webkit-transform: scale(1.25);
    -khtml-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25);
  }
}
/* line 377, ../sass/the-women.scss */
.the-women .women-list ul li.woman.active .woman-thumb img {
  opacity: .9;
  width: 100%;
}
@media screen and (min-width: 23.75em) {
  /* line 383, ../sass/the-women.scss */
  .the-women .women-list ul li.woman.active:nth-last-child(-n+2) .expand {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 40.0625em) {
  /* line 390, ../sass/the-women.scss */
  .the-women .women-list ul li.woman.active:nth-last-child(-n+3) .expand {
    margin-bottom: 0;
  }
}
/* line 396, ../sass/the-women.scss */
.the-women .women-list ul li.woman.active .expand {
  margin-top: .5em;
  height: auto;
  min-height: 3em;
  opacity: 1;
  margin-bottom: 5.5em;
  overflow: visible;
}
@media screen and (min-width: 40.0625em) {
  /* line 396, ../sass/the-women.scss */
  .the-women .women-list ul li.woman.active .expand {
    margin-top: 0;
  }
}
@media screen and (min-width: 52em) {
  /* line 396, ../sass/the-women.scss */
  .the-women .women-list ul li.woman.active .expand {
    margin-top: -1em;
  }
}
@media screen and (min-width: 64.0625em) {
  /* line 396, ../sass/the-women.scss */
  .the-women .women-list ul li.woman.active .expand {
    margin-top: -1em;
  }
}
/* line 412, ../sass/the-women.scss */
.the-women .women-list ul li.woman.active .expand div {
  padding: 1.75em 2.5em 1.875em;
}
@media screen and (min-width: 40.0625em) {
  /* line 412, ../sass/the-women.scss */
  .the-women .women-list ul li.woman.active .expand div {
    padding: 2.5em 3.75em;
  }
}
@media screen and (min-width: 64.0625em) {
  /* line 412, ../sass/the-women.scss */
  .the-women .women-list ul li.woman.active .expand div {
    padding: 2.125em 3.25em 2em;
  }
}
/* line 420, ../sass/the-women.scss */
.the-women .women-list ul li.woman.active .expand div div {
  padding: 0;
}

/* YouTube Pop-Up Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 3, ../sass/video-popup.scss */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
}

/* line 14, ../sass/video-popup.scss */
.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

/* line 24, ../sass/video-popup.scss */
.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
}

/* line 34, ../sass/video-popup.scss */
.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* line 40, ../sass/video-popup.scss */
.mfp-align-top .mfp-container:before {
  display: none;
}

/* line 43, ../sass/video-popup.scss */
.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

/* line 51, ../sass/video-popup.scss */
.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

/* line 56, ../sass/video-popup.scss */
.mfp-ajax-cur {
  cursor: progress;
}

/* line 59, ../sass/video-popup.scss */
.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}

/* line 64, ../sass/video-popup.scss */
.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

/* line 70, ../sass/video-popup.scss */
.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

/* line 73, ../sass/video-popup.scss */
.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* line 81, ../sass/video-popup.scss */
.mfp-loading.mfp-figure {
  display: none;
}

/* line 84, ../sass/video-popup.scss */
.mfp-hide {
  display: none !important;
}

/* line 87, ../sass/video-popup.scss */
.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}

/* line 98, ../sass/video-popup.scss */
.mfp-preloader a {
  color: #CCC;
}

/* line 101, ../sass/video-popup.scss */
.mfp-preloader a:hover {
  color: #FFF;
}

/* line 105, ../sass/video-popup.scss */
.mfp-s-ready .mfp-preloader {
  display: none;
}

/* line 109, ../sass/video-popup.scss */
.mfp-s-error .mfp-content {
  display: none;
}

/* line 113, ../sass/video-popup.scss */
button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation;
}

/* line 128, ../sass/video-popup.scss */
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 133, ../sass/video-popup.scss */
.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.8;
  padding: 0 0 1.125em .625em;
  color: #FFF;
  font-style: normal;
  font-size: 3.125em;
}

/* line 148, ../sass/video-popup.scss */
.mfp-close:hover,
.mfp-close:focus {
  opacity: 1;
}

/* line 152, ../sass/video-popup.scss */
.mfp-close:active {
  top: 1px;
}

/* line 156, ../sass/video-popup.scss */
.mfp-close-btn-in .mfp-close {
  color: #333;
}

/* line 160, ../sass/video-popup.scss */
.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

/* line 169, ../sass/video-popup.scss */
.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: .75em;
  line-height: 1.125em;
  white-space: nowrap;
}

/* line 179, ../sass/video-popup.scss */
.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 1.625em;
  -webkit-tap-highlight-color: transparent;
}

/* line 190, ../sass/video-popup.scss */
.mfp-arrow:active {
  margin-top: -54px;
}

/* line 194, ../sass/video-popup.scss */
.mfp-arrow:before,
.mfp-arrow:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}

/* line 207, ../sass/video-popup.scss */
.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}

/* line 212, ../sass/video-popup.scss */
.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7;
}

/* line 218, ../sass/video-popup.scss */
.mfp-arrow-left {
  left: 0;
}

/* line 221, ../sass/video-popup.scss */
.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px;
}

/* line 225, ../sass/video-popup.scss */
.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F;
}

/* line 230, ../sass/video-popup.scss */
.mfp-arrow-right {
  right: 0;
}

/* line 233, ../sass/video-popup.scss */
.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px;
}

/* line 237, ../sass/video-popup.scss */
.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F;
}

/* line 241, ../sass/video-popup.scss */
.mfp-iframe-holder {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}

/* line 245, ../sass/video-popup.scss */
.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}

/* line 250, ../sass/video-popup.scss */
.mfp-iframe-holder .mfp-close {
  top: -1em;
}

/* line 254, ../sass/video-popup.scss */
.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}

/* line 260, ../sass/video-popup.scss */
.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
}

/* Main image in popup */
/* line 272, ../sass/video-popup.scss */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 2.5em 0 2.5em;
  margin: 0 auto;
}

/* line 282, ../sass/video-popup.scss */
.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}

/* line 290, ../sass/video-popup.scss */
.mfp-title {
  text-align: left;
  line-height: 1.125em;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px;
}

/* line 298, ../sass/video-popup.scss */
.mfp-image-holder .mfp-content {
  max-width: 100%;
}

/* line 302, ../sass/video-popup.scss */
.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
  * Remove all paddings around the image on small screen
  */
  /* line 309, ../sass/video-popup.scss */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }

  /* line 313, ../sass/video-popup.scss */
  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }

  /* line 316, ../sass/video-popup.scss */
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }

  /* line 320, ../sass/video-popup.scss */
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }

  /* line 324, ../sass/video-popup.scss */
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box;
  }

  /* line 333, ../sass/video-popup.scss */
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }

  /* line 336, ../sass/video-popup.scss */
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }

  /* line 340, ../sass/video-popup.scss */
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
}
@media all and (max-width: 900px) {
  /* line 353, ../sass/video-popup.scss */
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }

  /* line 357, ../sass/video-popup.scss */
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0;
  }

  /* line 361, ../sass/video-popup.scss */
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }

  /* line 365, ../sass/video-popup.scss */
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px;
  }
}
/* Background Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 14, ../sass/app.scss */
.red {
  background: red;
}

/* line 15, ../sass/app.scss */
.blue {
  background: blue;
}

/* line 16, ../sass/app.scss */
.yellow {
  background: yellow;
}

/* line 17, ../sass/app.scss */
.green {
  background: green;
}

/* line 18, ../sass/app.scss */
.orange {
  background: orange;
}

/* line 19, ../sass/app.scss */
.purple {
  background: purple;
}

/* Foundation Overrides
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 25, ../sass/app.scss */
ul {
  -webkit-padding-start: 0px;
}

/* line 28, ../sass/app.scss */
a {
  text-decoration: none;
}

/* line 31, ../sass/app.scss */
p {
  color: #817B74;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 39, ../sass/app.scss */
.button {
  border-radius: 1000px;
  background-color: #00ADC4;
}
/* line 42, ../sass/app.scss */
.button.postfix {
  border-radius: 0;
  border-style: solid;
  border-width: 1px;
  display: block;
  font-size: 0.9375em;
  height: 3.125em;
  line-height: 3.125em;
  overflow: visible;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  position: relative;
  text-align: center;
  width: 100%;
  z-index: 2;
  border-color: #00ADC4;
}

/* Header and Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 67, ../sass/app.scss */
.page-header, .page-footer {
  position: relative;
  padding-top: 1.25em;
  padding-bottom: 3.125em;
}
@media screen and (min-width: 40.0625em) {
  /* line 67, ../sass/app.scss */
  .page-header, .page-footer {
    padding-top: 1.875em;
  }
}
/* line 74, ../sass/app.scss */
.page-header .logo, .page-footer .logo {
  text-align: center;
}
@media screen and (min-width: 40.0625em) {
  /* line 74, ../sass/app.scss */
  .page-header .logo, .page-footer .logo {
    text-align: left;
  }
}
/* line 80, ../sass/app.scss */
.page-header .main-menu, .page-footer .main-menu {
  position: relative;
  top: .4375em;
}
/* line 83, ../sass/app.scss */
.page-header .main-menu ul.menu, .page-footer .main-menu ul.menu {
  text-align: center;
  font-size: 0.8125em;
  margin-top: .9375em;
}
@media screen and (min-width: 40.0625em) {
  /* line 83, ../sass/app.scss */
  .page-header .main-menu ul.menu, .page-footer .main-menu ul.menu {
    float: right;
    margin-top: 0;
  }
}
/* line 91, ../sass/app.scss */
.page-header .main-menu ul.menu li, .page-footer .main-menu ul.menu li {
  display: inline-block;
}
/* line 93, ../sass/app.scss */
.page-header .main-menu ul.menu li a, .page-footer .main-menu ul.menu li a {
  padding: .9em .5em;
}
@media screen and (min-width: 40.0625em) {
  /* line 93, ../sass/app.scss */
  .page-header .main-menu ul.menu li a, .page-footer .main-menu ul.menu li a {
    padding: .9em 1em;
  }
}
/* line 98, ../sass/app.scss */
.page-header .main-menu ul.menu li a.button, .page-footer .main-menu ul.menu li a.button {
  font-size: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  color: white;
  margin-left: .3125em;
  padding: .6em 1em;
  transition: none;
}
@media screen and (min-width: 40.0625em) {
  /* line 98, ../sass/app.scss */
  .page-header .main-menu ul.menu li a.button, .page-footer .main-menu ul.menu li a.button {
    padding: .9em 1.5em;
    margin-left: .625em;
  }
}
/* line 110, ../sass/app.scss */
.page-header .main-menu ul.menu li a.button:hover, .page-footer .main-menu ul.menu li a.button:hover {
  transition: none;
  background-color: #007E9D;
}
/* line 117, ../sass/app.scss */
.page-header .main-menu ul.menu li.active > a, .page-footer .main-menu ul.menu li.active > a {
  background: none;
  color: #120C07;
  font-weight: bold;
  letter-spacing: -.05em;
}

/* line 129, ../sass/app.scss */
.page-header a {
  color: #817B74;
}
/* line 131, ../sass/app.scss */
.page-header a:hover {
  color: #120C07;
}

/* line 136, ../sass/app.scss */
.page-footer {
  background: #120C07;
}
/* line 138, ../sass/app.scss */
.page-footer a {
  color: #817B74;
}
/* line 140, ../sass/app.scss */
.page-footer a:hover {
  color: white;
}

/* line 145, ../sass/app.scss */
.border-wrapper {
  border-bottom: 1px solid #C8C3C3;
  padding-bottom: 5em;
}

/* Sponsors Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 154, ../sass/app.scss */
.xsponsors-footer {
  text-align: center;
}
@media screen and (min-width: 64.0625em) {
  /* line 154, ../sass/app.scss */
  .xsponsors-footer {
    text-align: left;
  }
}
/* line 159, ../sass/app.scss */
.xsponsors-footer div {
  position: relative;
  padding: 1.875em 0;
}
/* line 162, ../sass/app.scss */
.xsponsors-footer div img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
@media screen and (min-width: 40.0625em) {
  /* line 162, ../sass/app.scss */
  .xsponsors-footer div img {
    display: inline-block;
    margin-top: 0;
    margin-left: 5px;
  }
}
/* line 173, ../sass/app.scss */
.xsponsors-footer div .button {
  position: relative;
  font-size: 0.8125em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  margin-top: .625em;
}
@media screen and (min-width: 64.0625em) {
  /* line 173, ../sass/app.scss */
  .xsponsors-footer div .button {
    position: absolute;
    top: 2.75em;
    right: 0;
  }
}
/* line 185, ../sass/app.scss */
.xsponsors-footer div .stroked {
  background: none;
  border: 1px solid #00ADC4;
  color: #00ADC4;
  transition: none;
}
/* line 190, ../sass/app.scss */
.xsponsors-footer div .stroked:hover {
  border-color: #007E9D;
  color: #007E9D;
  transition: none;
}
/* line 196, ../sass/app.scss */
.xsponsors-footer div p {
  font-size: 0.9375em;
  color: #817B74;
}
/* line 199, ../sass/app.scss */
.xsponsors-footer div p span {
  color: #120C07;
  font-weight: bold;
}

/* Email CTA
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 211, ../sass/app.scss */
.email-signup {
  text-align: center;
  padding-top: 3em;
}
/* line 214, ../sass/app.scss */
.email-signup .border-wrapper {
  border-bottom: 1px solid #C8C3C3;
  padding-bottom: 5em;
}
/* line 218, ../sass/app.scss */
.email-signup input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 0.9375em;
  padding: 0.5em 1em;
  height: 3.125em;
}
/* line 226, ../sass/app.scss */
.email-signup p {
  font-size: 0.8125em;
}
/* line 229, ../sass/app.scss */
.email-signup h2 {
  margin-bottom: 0;
}
/* line 232, ../sass/app.scss */
.email-signup #mc_embed_signup {
  margin-top: 1.5em;
}
