@charset "UTF-8";
/* Contact
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 24, ../sass/contact.scss */
#public #header {
  display: none;
}
/* line 28, ../sass/contact.scss */
#public li.inquiry-type span {
  width: 33%;
  float: left;
}
