@charset "UTF-8";
/* Contact
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* line 24, ../sass/contact.scss */
#public #header {
  display: none;
}
/* line 27, ../sass/contact.scss */
#public li#fo50li1 {
  background: red;
}
/* line 29, ../sass/contact.scss */
#public li#fo50li1 span {
  width: 33%;
  float: left;
}
