/* Breakpoints */
$xsmall: 17em;
$small: 23.75em;
$small-medium: 31.5em;
$medium: 40.0625em;
$medium-large: 52em;
$large: 64.0625em;
$xlarge: 80.625em;
$xxlarge: 87.5em;
$xxxlarge: 95.5em;

$text-small: .8125em;

$text-medium: .9375em;

$text-slarge: 1.125em;
$text-mlarge: 1.3125em;
$text-large: 1.625em;

$text-sxlarge: 1.8984375em;
$text-mxlarge: 2.53125em;
$text-xlarge: 3.375em;

$text-small-lh: 1.5em;
$text-mlarge-lh: 1.3em;
$text-xlarge-lh: 1.148148148em;

$black: #120C07;
$gray: #817B74;
$hairline-gray: #C8C3C3;
$page-bg: #EEEBEB;
$blue: #00ADC4;
$dark-blue: #007E9D;
$photo-overlay: #2D1B08;
$drawer-bg: #D9D5D5;


/* Retina Mixin */
@mixin at2x($path, $ext: "png", $w: auto, $h: auto) {
  $at1x_path: "#{$path}.#{$ext}";
  $at2x_path: "#{$path}@2x.#{$ext}";
  background-image: url("#{$at1x_path}");
  @media all and (-webkit-min-device-pixel-ratio : 1.5),
  all and (-o-min-device-pixel-ratio: 3/2),
  all and (min--moz-device-pixel-ratio: 1.5),
  all and (min-device-pixel-ratio: 1.5) {
    background-image: url("#{$at2x_path}");
    background-size: $w $h;
  }
}

/* Quick BG Colors */

.red {
  background: red;
}
.blue {
  background: blue;
}
.yellow {
  background: yellow;
}
.green {
  background: green;
}
.orange {
  background: orange;
}
.purple {
  background: purple;
}

/* Foundation Overrides */

ul {
  -webkit-padding-start: 0px;
}
a {
  text-decoration: none;
}
p {
  color: $gray;
}

/* Typography */

body {
  font-family: 'Poppins', sans-serif;
  background-color: $page-bg;
}

h1 {
  font-size: $text-large;
  line-height: 1.2em;
  margin: 0;
  letter-spacing: -2px;
  @media screen and (min-width: $small){
    font-size: $text-sxlarge;
    line-height: $text-xlarge-lh;
  }
  @media screen and (min-width: $medium){
    font-size: $text-mxlarge;
    line-height: $text-xlarge-lh;
    padding-right: 2.35em;
  }
  @media screen and (min-width: $large){
    font-size: $text-xlarge;
    line-height: $text-xlarge-lh;
  }
  & + p {
    margin-top: .625em;
    color: $gray;
    font-size: $text-medium;
    @media screen and (min-width: $small){
      font-size: $text-slarge;
      padding-right: 0;
    }
    @media screen and (min-width: $medium){
      font-size: $text-mlarge;
      padding-right: 3.75em;
    }
    @media screen and (min-width: $large) {
      font-size: $text-large;
    }
  }
}
h2 {
  letter-spacing: -1px;
  line-height: $text-mlarge-lh;
  @media screen and (min-width: $small){
    font-size: $text-mlarge;
  }
  @media screen and (min-width: $large) {
    font-size: $text-large;
  }
}
h3 {
  font-size: $text-medium;
  padding: 0;
  margin: 0;
}
h5 {
  margin: 0;
  font-size: $text-medium;
}
figcaption {
  font-size: $text-small;
  color: $gray;
  line-height: $text-small-lh;
}

/* Buttons */

.button {
  border-radius: 1000px;
  background-color: $blue;
  &.postfix {
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    display: block;
    font-size: $text-medium;
    height: 3.125em;
    line-height: 3.125em;
    overflow: visible;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 2;
    border-color: $blue;
  }
}

/* Header, Footer */

.page-header, .page-footer {
  position: relative;
  padding-top: 1.25em;
  padding-bottom: 3.125em;
  @media screen and (min-width: $medium){
    padding-top: 1.875em;
  }
  .logo {
    text-align: center;
    @media screen and (min-width: $medium){
      text-align: left;
    }
  }
  .main-menu {
    position: relative;
    top: .4375em;
    ul.menu {
      text-align: center;
      font-size: $text-small;
      margin-top: .9375em;
      @media screen and (min-width: $medium){
        float: right;
        margin-top: 0;
      }
      li {
        display: inline-block;


        a {
          padding: .9em .5em;
          @media screen and (min-width: $medium){
            padding: .9em 1em;
          }
          &.button {
            font-size: 1em;
            padding-left: 1.5em;
            padding-right: 1.5em;
            color: white;
            margin-left: .3125em;
            padding: .6em 1em;
            transition: none;
            @media screen and (min-width: $medium){
              padding: .9em 1.5em;
              margin-left: .625em;
            }
            &:hover {
              transition: none;
              background-color: $dark-blue;
            }
          }
        }
        &.active {
          & > a {
            background: none;
            color: $black;
            font-weight: bold;
            letter-spacing: -.05em;
          }
        }
      }

    }
  }
}
.page-header {
  a {
    color: $gray;
    &:hover {
      color: $black;
    }
  }
}
.page-footer {
  background: $black;
  a {
    color: $gray;
    &:hover {
      color: white;
    }
  }
}

.border-wrapper {
  border-bottom: 1px solid $hairline-gray;
  padding-bottom: 5em;
}

/* Sponsors Footer */

.xsponsors-footer {
  text-align: center;
  @media screen and (min-width: $large){
    text-align: left;
  }
  div {
    position: relative;
    padding: 1.875em 0;
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      @media screen and (min-width: $medium){
        display: inline-block;
        margin-top: 0;
        margin-left: 5px;
      }
    }
    .button {
      position: relative;
      font-size: $text-small;
      padding-left: 1.5em;
      padding-right: 1.5em;
      margin-top: .625em;
      @media screen and (min-width: $large){
        position: absolute;
        top: 2.75em;
        right: 0;
      }
    }
    .stroked {
      background: none;
      border: 1px solid $blue;
      color: $blue;
      transition: none;
      &:hover {
        border-color: $dark-blue;
        color: $dark-blue;
        transition: none;
      }
    }
    p {
      font-size: $text-medium;
      color: $gray;
      span {
        color: $black;
        font-weight: bold;
      }
    }
  }
}

/* Email CTA */


.email-signup {
  text-align: center;
  padding-top: 3em;
  .border-wrapper {
    border-bottom: 1px solid $hairline-gray;
    padding-bottom: 5em;
  }
  input {
    width: 100%;
    height: 100%;
    border: none;
    font-size: $text-medium;
    padding: 0.5em 1em;
    height: 3.125em;
  }
  p {
    font-size: $text-small;
  }
  h2 {
    margin-bottom: 0;
  }
  #mc_embed_signup {
    margin-top: 1.5em;
  }
}

/* Home */


.home {
  .showcase {
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #211206; //Dark Black
      opacity: .7;
      @media screen and (min-width: $medium){
        display: none;
      }
    }
    position: relative;
    @include at2x('../images/lauren-tan-speaking', jpg, 300%, auto);
    background-position: bottom right;
    background-color: #1D1209;
    background-repeat: no-repeat;
    padding-bottom: 6em;
    @media screen and (min-width: $small){
      background-size: 175% auto;
    }
    @media screen and (min-width: $small-medium){
      background-size: 135% auto;
    }
    @media screen and (min-width: $medium){
      background-size: auto 100%;
      padding-bottom: 10em;
    }
    @media screen and (min-width: $xxlarge){
        background-size: auto 100%;
        background-position: 33%, 0;
    }
    .main-menu {
      ul {
        li {
          a {
            &:hover {
              color: white;
            }
          }
        }
      }
    }
    .page-intro {
      margin-top: 1em;
      text-align: center;
      position: relative;
      @media screen and (min-width: $medium){
        text-align: left;
        margin-top: 4em;
      }
      h1 {
        color: white;
        padding-left: 10%;
        padding-right: 10%;
        @media screen and (min-width: $small){
          padding-left: 0;
          padding-right: 0;
        }
        @media screen and (min-width: $small-medium){
          padding-left: 0;
          padding-right: 0em;
        }
        @media screen and (min-width: $medium){
          padding-left: 0;
          padding-right: 3em;
        }
        @media screen and (min-width: $medium-large){
          padding-left: 0;
          padding-right: 4em;
        }
        @media screen and (min-width: $large){
          padding-left: 0;
          padding-right: 0;
        }
      }
      p {
        color: #857B70;
        @media screen and (min-width: $medium){
          padding-right: 5em;
        }
      }
      a {
        &.button {
          padding-left: 2.5em;
          padding-right: 2.5em;
          background: none;
          border: 1px solid $blue;
          &:hover {
            border-color: $dark-blue;
          }
        }
      }
    }
  }
  .women-intro {
    text-align: center;
    padding-top: 4em;
    div {
      h2 {
        padding-right: 0;
        margin-top: 2em;
        margin-bottom: .25em;
      }
      p {
        padding: 0;
        font-size: $text-slarge;
        margin-top: 0;
        @media screen and (min-width: $medium){
          padding: 0 10% 0;
          font-size: $text-mlarge;

        }
        a {
          color: $blue;
          cursor: pointer;
          &:hover {
            color: $dark-blue;
          }
        }
      }
      a {
        &.button {
          border: 1px solid $blue;
          color: $blue;
          background: none;
          padding-left: 1.75em;
          padding-right: 1.75em;
          &:hover {
            color: $dark-blue;
            border: 1px solid $dark-blue;
          }
        }
      }
    }
  }
}

/* The Program */

.the-program {
  .speaker-photo {
    figure {
      display: block;
      text-align: center;
      padding: 0;
      margin: 1em 0 0;
      img {
        width: 100%;
      }
      figcaption {
        margin-top: 1em;
        a {
          color: $blue;
          &:hover {
            color: $dark-blue;
          }
        }
      }
    }
  }
  .program-benefits {
    padding-top: 3.125em;
    div {
      .border-wrapper {
        border-bottom: 1px solid $hairline-gray;
        h2 {
          padding-right: 1em;
        }
        ul {
          padding-top: 2.5em;
          list-style: none;
          margin-bottom: 0px;
          padding-bottom: 1.25em;
          li {
            position: relative;
            padding: 0 0 2.5em 5em;
            @media screen and (min-width: $medium){
              width: 50%;
              padding: 0 1.25em 2.5em 5em;
              display: inline-block;
              vertical-align: top;
              &:last-child {
                width: 100%;
                padding-right: 30%;
              }
            }
            @media screen and (min-width: $large){
              padding: 0 1.25em 2.5em 6.25em;
            }
            p {
              margin-top: .25em;
              font-size: $text-medium;
              color: $gray;
            }
            .icon {
              width: 3.375em;
              height: 3.375em;
              position: absolute;
              background-position: top center;
              background-repeat: no-repeat;
              background-size: contain;
              top: 0;
              left: 0;
              @media screen and (min-width: $large){
                width: 4.625em;
                height: 4.625em;
              }
            }
          }
        }
      }
    }
  }
  .email-signup {
    text-align: left;
    .border-wrapper {
      padding-bottom: 0;
      border: none;
      @media screen and (min-width: $medium){
        padding-bottom: 2em;
        border-bottom: 1px solid $hairline-gray;
      }
    }
    .pay-it-forward {
      text-align: right;
      margin-top: 4em;
      @media screen and (min-width: $medium){
        background-color: transparent;
        margin-top: 0;
      }
      .circle {
        position: relative;
        display: block;
        color: #222;
        text-align: center;
        background-color: $drawer-bg;

        @media screen and (min-width: $medium){
          margin-left: 0em;
          margin-top: -4em;
          float: right;
          width: 20em;
          background-color: transparent;
        }
        @media screen and (min-width: $large){
          margin-left: 2em;
          margin-top: -6em;
        }
        .circle__inner {

          @media screen and (min-width: $medium){
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
          .circle__wrapper {
            display: table;
            width: 100%;
            height: 100%;
            .circle__content {
              display: table-cell;
              padding: 1em;
              vertical-align: middle;
              p {
                font-size: $text-small;
                margin-top: 0;
                padding: 0 2em 0 2em;
              }
            }
          }
        }
        &:after {
          @media screen and (min-width: $medium){
            display: block;
            padding-bottom: 100%;
            width: 100%;
            height: 0;
            border-radius: 50%;
            background-color: $drawer-bg;
            content: "";
          }
        }
      }
    }
  }
}






/* The Women */

.the-women {
  .leadership {
    padding-top: 2.5em;
    ul {
      list-style: none;
      margin: 0 auto;
      text-align: left;
      width: 100%;
      position: relative;
      li{
        position: relative;
        display: inline-block;
        margin: 0;
        vertical-align: top;
        width: 100%;
        @media screen and (min-width: $small){
          width: 50%;
        }
        @media screen and (min-width: $medium){
          width: 33.33333333333333%;
        }
        &.woman {
          a {
            &.woman-thumb {
              background: $black;
              display: block;

              img {
                width: 100%;
                height: 100%;
                display: block;
                @media screen and (min-width: $small){
                  opacity: .65;
                  &:hover {
                    opacity: .90;
                  }
                }

              }
              p {
                display: none;
                @media screen and (min-width: $small){
                  position: absolute;
                  top: .75em;
                  left: 1.125em;
                  font-weight: bold;
                  color: white;
                  margin:0;
                  display: block;
                }
              }
            }
          }
          &:last-child {
            border-bottom: 1px solid $hairline-gray;
            @media screen and (min-width: $small){
              border-bottom: none;
            }
          }
          &:nth-child(odd) {
            .expand {
              @media screen and (min-width: $small){
                margin: 0;
                &:after {
                  left: 25%;
                  margin-left: -.9375em;
                }
              }
            }
          }
          &:nth-child(even) {
            .expand {
              margin-left: 0%;
              @media screen and (min-width: $small){
                margin: -100%;
                &:after {
                  left: 75%;
                  margin-left: -.9375em;
                }
              }
            }
          }
          &:nth-child(3n+1){
            // Every 1st, 3rd, 6th, etc.
            .expand {
              @media screen and (min-width: $medium){
                margin-left: 0%;
                &:after {
                  left: 17%;
                  margin-left: -.9375em;
                }
              }
            }
          }
          &:nth-child(3n+2){
            // Every 2nd, 5th, 8th, etc.
            .expand {
              @media screen and (min-width: $medium){
                margin-left: -100%;
                &:after {
                  left: 50%;
                  margin-left: -.9375em;
                }
              }
            }
          }
          &:nth-child(3n+3){
            // Every 3rd, 6th, 9th, etc.
            .expand {
              @media screen and (min-width: $medium){
                margin-left: -200%;
                &:after {
                  left: 83%;
                  margin-left: -.9375em;
                }
              }
            }
          }
          .expand {
            width: 100%;
            padding: 0;
            margin-top: 1.25em;
            margin-bottom: 3.125em;
            position: relative;
            @media screen and (min-width: $small){
              background-color: $drawer-bg;
              margin-top: 0px;
              margin-bottom: 0;
              overflow: hidden;
              height: 0;
              opacity: 0;
              width: 200%;
            }
            @media screen and (min-width: $medium){
              width: 300%;
            }
            &:after {
              @media screen and (min-width: $small){
                content: '';
                display: block;
                width: 0;
                height: 0;
                border-left: .9375em solid transparent;
                border-right: .9375em solid transparent;
                border-bottom: .9375em solid $drawer-bg;
                position: absolute;
                top: -.9375em;
              }
            }
            div {
              div {
                h2 {
                  margin: 0;
                  float: left;
                }
                p {
                  color: $gray;
                  clear: both;
                  @media screen and (min-width: $medium){
                    padding: 0px 2.5em 0px 0px;
                  }
                  &.job-title {
                    color: $gray;
                    margin-top: 0;
                    @media screen and (min-width: $small){
                      margin-top: -.625em;
                    }
                  }
                  &.bio {
                    a {
                      color: $blue;
                      &:hover {
                        color: $dark-blue;
                      }
                    }
                  }
                }
                a.video-thumb {
                  display: inline-block;
                  margin-top: 1.25em;
                  @media screen and (min-width: $medium){
                    margin-top: 0;
                  }
                  figure {
                    display: inline-block;
                    position: relative;
                    margin: 0;
                    width: 75%;
                    @media screen and (min-width: $small){
                      width: 100%;
                    }
                    display: inline-block;
                    position: relative;
                    div {
                      position: relative;
                      display: inline-block;
                      background: $black;
                      &:after {
                        content: '';
                        @include at2x('../images/icon-play', png, 100%);
                        display: block;
                        width: 3.6875em;
                        height: 3.6875em;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin-left: -1.875em; // Half the image height
                        margin-top: -1.875em; // Half the image height plus a little more to optically center it
                      }
                      &:hover {
                        img {
                          opacity: 1;
                        }
                      }
                      img {
                        opacity: .75;
                      }
                    }
                    figcaption {
                      margin-top: .625em;
                    }
                  }
                }
                a {
                  &.twitter {
                    display: inline-block;
                    @include at2x('../images/icon-twitter', png, 100%);
                    background-size: 100%;
                    opacity: .5;
                    height: 1.5em;
                    width: 1.5em;
                    margin-left: .625em;
                    position: relative;
                    @media screen and (min-width: $small){
                      top: -1px;
                    }
                    @media screen and (min-width: $medium){
                      height: 1.5em;
                      width: 1.5em;
                    }
                    @media screen and (min-width: $large){
                      height: 1.75em;
                      width: 1.75em;
                      top: .125em;
                    }
                    &:hover {
                      opacity: .8;
                    }
                  }
                }
                ul.other-links {
                  li {
                    display: block;
                    width: 100%;
                    a {
                      color: $blue;
                      &:hover {
                        color: $dark-blue;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        &.woman.active {
          .woman-thumb{
            img {
              opacity: .9;
              width: 100%;
            }
          }
          &:nth-last-child(-n+2) {
            .expand {
              @media screen and (min-width: $small){
                margin-bottom: 0;
              }
            }
          }
          &:nth-last-child(-n+3) {
            .expand {
              @media screen and (min-width: $medium){
                margin-bottom: 0;
              }
            }
          }
          .expand {
            @media screen and (min-width: $small){
              height: auto;
              opacity: 1;
              margin-top: 1.25em;
              margin-bottom: 1.25em;
              overflow: visible;
            }
            div {
              @media screen and (min-width: $small){
                padding: 1.75em 2.5em 1.875em;
              }
              @media screen and (min-width: $medium){
                padding: 2.5em 3.75em;
              }
              @media screen and (min-width: $large){
                padding: 3.125em 6.25em;
              }
              div {
                @media screen and (min-width: $small){
                  padding: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}










/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
}
.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}
.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
}
.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.mfp-align-top .mfp-container:before {
  display: none;
}
.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}
.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}
.mfp-ajax-cur {
  cursor: progress;
}
.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out;
}
.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}
.mfp-auto-cursor .mfp-content {
  cursor: auto;
}
.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.mfp-loading.mfp-figure {
  display: none;
}
.mfp-hide {
  display: none !important;
}
.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}
.mfp-preloader a {
  color: #CCC;
}
.mfp-preloader a:hover {
  color: #FFF;
}

.mfp-s-ready .mfp-preloader {
  display: none;
}

.mfp-s-error .mfp-content {
  display: none;
}

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.8;
  padding: 0 0 1.125em .625em;
  color: #FFF;
  font-style: normal;
  font-size: 3.125em;
}
.mfp-close:hover,
.mfp-close:focus {
  opacity: 1;
}
.mfp-close:active {
  top: 1px;
}

.mfp-close-btn-in .mfp-close {
  color: #333;
}

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: .75em;
  line-height: 1.125em;
  white-space: nowrap;
}

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 1.625em;
  -webkit-tap-highlight-color: transparent;
}
.mfp-arrow:active {
  margin-top: -54px;
}

.mfp-arrow:before,
.mfp-arrow:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent;
}
.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px;
}
.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7;
}

.mfp-arrow-left {
  left: 0;
}
.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px;
}
.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F;
}

.mfp-arrow-right {
  right: 0;
}
.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px;
}
.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F;
}

.mfp-iframe-holder {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
}
.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px;
}
.mfp-iframe-holder .mfp-close {
  top: -1em;
}

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%;
}
.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000;
}

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 2.5em 0 2.5em;
  margin: 0 auto;
}
.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto;
}
.mfp-title {
  text-align: left;
  line-height: 1.125em;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px;
}

.mfp-image-holder .mfp-content {
  max-width: 100%;
}

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer;
}
@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
  * Remove all paddings around the image on small screen
  */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0;
  }
  .mfp-img-mobile img.mfp-img {
    padding: 0;
  }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0;
  }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px;
  }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box;
  }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0;
  }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px;
  }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0;
  }
}
@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
  }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0;
  }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%;
  }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; }
  }
