@import 'breakpoints';
@import 'colors';
@import 'typography';
@import 'mixins';
@import 'home';
@import 'the-program';
@import 'the-women';
@import 'become-a-sponsor';
@import 'contact';
@import 'video-popup';


/* Background Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.red {background: red;}
.blue {background: blue;}
.yellow {background: yellow;}
.green {background: green;}
.orange {background: orange;}
.purple {background: purple;}


/* Foundation Overrides, Misc Global Elements
–––––––––––––––––––––––––––––––––––––––––––––––––– */

ul {
  -webkit-padding-start: 0px;
}
a {
  text-decoration: none;
}
p {
  color: $gray;
}
body {
  background-color: $page-bg;
}
body > section {
  background-color: $page-bg;
}
.hairline-top-wrapper {
  border-top: 1px solid $hairline;
  padding-top: 2em;
  margin-top: 2em;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.button {
  border-radius: 1000px;
  background-color: $blue;
  &.postfix {
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    display: block;
    font-size: $font-small;
    height: 3.125em;
    line-height: 3.125em;
    overflow: visible;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 2;
    border-color: $blue;
  }
  &.stroked {
    color: $blue;
    background: none;
    border: 1px solid $blue;
  }
}


/* Header and Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.page-header, .page-footer {
  position: relative;
  padding-top: 1.25em;
  padding-bottom: 3.125em;
  @media screen and (min-width: $medium){
    padding-top: 1.875em;
  }
  .logo {
    text-align: center;
    @media screen and (min-width: $medium){
      text-align: left;
    }
  }
  .main-menu {
    position: relative;
    top: .4375em;
    ul.menu {
      text-align: center;
      font-size: $font-xsmall;
      margin-top: .9375em;
      @media screen and (min-width: $medium){
        float: right;
        margin-top: 0;
      }
      li {
        display: inline-block;
        a {
          padding: .9em .5em;
          @media screen and (min-width: $medium){
            padding: .9em 1em;
          }
          &.button {
            font-size: 1em;
            padding-left: 1.5em;
            padding-right: 1.5em;
            color: white;
            margin-left: .3125em;
            padding: .6em 1em;
            transition: none;
            @media screen and (min-width: $medium){
              padding: .9em 1.5em;
              margin-left: .625em;
            }
            &:hover {
              transition: none;
              background-color: $dark-blue;
            }
          }
        }
        &.active {
          & > a {
            background: none;
            color: $black;
            font-weight: bold;
            letter-spacing: -.05em;
          }
        }
      }
    }
  }
}
.page-header {
  a {
    color: $gray;
    &:hover {
      color: $black;
    }
  }
}
.the-program #the-program,
.the-women #the-women {
  font-weight: bold;
  color: $black;
  letter-spacing: -.03em;
}

.page-footer {
  background: $black;
  a {
    color: $gray;
    &:hover {
      color: white;
    }
  }
}
.border-wrapper {
  border-bottom: 1px solid $hairline;
  padding-bottom: 5em;
}

.page-intro {
  p {
    margin-top: .625em;
    color: $gray;
    font-size: $font-small;
    @media screen and (min-width: $small){
      font-size: $font-medium;
      padding-right: 0;
    }
    @media screen and (min-width: $medium){
      font-size: $font-medium-large;
      padding-right: 3.75em;
    }
    @media screen and (min-width: $large) {
      font-size: $font-large;
    }
  }
}


/* Sponsors Footer
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.xsponsors-footer {
  text-align: center;
  @media screen and (min-width: $large){
    text-align: left;
  }
  div {
    position: relative;
    padding: 1.875em 0;
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
      max-width: 7em;
      @media screen and (min-width: $medium){
        display: inline-block;
        margin-top: 0;
        margin-left: 5px;
      }
    }
    .button {
      position: relative;
      font-size: $font-xsmall;
      padding-left: 1.5em;
      padding-right: 1.5em;
      margin-top: .625em;
      @media screen and (min-width: $large){
        position: absolute;
        top: 2.75em;
        right: 0;
      }
    }
    .stroked {
      background: none;
      border: 1px solid $blue;
      color: $blue;
      transition: none;
      &:hover {
        border-color: $dark-blue;
        color: $dark-blue;
        transition: none;
      }
    }
    p {
      font-size: $font-small;
      color: $gray;
      span {
        color: $black;
        font-weight: bold;
      }
    }
  }
}


/* Email CTA
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.email-signup {
  text-align: center;
  padding-top: 3em;
  .border-wrapper {
    border-bottom: 1px solid $hairline;
    padding-bottom: 5em;
  }
  input {
    width: 100%;
    height: 100%;
    border: none;
    font-size: $font-small;
    padding: 0.5em 1em;
    height: 3.125em;
  }
  p {
    font-size: $font-xsmall;
  }
  h2 {
    margin-bottom: 0;
  }
  #mc_embed_signup {
    margin-top: 1.5em;
  }
}
