/* Breakpoints
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$xsmall: 17em;
$small: 23.75em;
$small-medium: 31.5em;
$medium: 40.0625em;
$medium-large: 52em;
$large: 64.0625em;
$xlarge: 80.625em;
$xxlarge: 87.5em;
$xxxlarge: 95.5em;
