/* Colors
–––––––––––––––––––––––––––––––––––––––––––––––––– */

$black: #120C07;
$gray: #817B74;
$hairline-gray: #C8C3C3;
$page-bg: #EEEBEB;
$blue: #00ADC4;
$dark-blue: #007E9D;
$photo-overlay: #2D1B08;
$drawer-bg: #D9D5D5;
$pink: #B5808F;
$green: #8DB580;
$orange: #EC8820;
