/* Retina Background Images
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@mixin at2x($path, $ext: "png", $w: auto, $h: auto) {
  $at1x_path: "#{$path}.#{$ext}";
  $at2x_path: "#{$path}@2x.#{$ext}";
  background-image: url("#{$at1x_path}");
  @media all and (-webkit-min-device-pixel-ratio : 1.5),
  all and (-o-min-device-pixel-ratio: 3/2),
  all and (min--moz-device-pixel-ratio: 1.5),
  all and (min-device-pixel-ratio: 1.5) {
    background-image: url("#{$at2x_path}");
    background-size: $w $h;
  }
}


/* Adds Browser Prefix to Property
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@mixin css3-prefix($property, $value) {
  -webkit-#{$property}: #{$value};
   -khtml-#{$property}: #{$value};
     -moz-#{$property}: #{$value};
      -ms-#{$property}: #{$value};
       -o-#{$property}: #{$value};
          #{$property}: #{$value};
}

/* Transition
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@mixin transition($properties...) {

  @if length($properties) >= 1 {
    @include css3-prefix('transition', $properties);
  }

  @else {
    @include css3-prefix('transition',  "all 0.2s ease-in-out 0s");
  }
}

/* Transform
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@mixin transform($params) {
  @include css3-prefix('transform', $params);
}

@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}



/* Transform Style
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@mixin transform-style($style: preserve-3d) {
  @include css3-prefix('transform-style', $style);
}

/* Transform Origin
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@mixin transform-origin($params) {
  @include css3-prefix('transform-origin', $params);
}

/* Border Radius
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@mixin border-radius($radius: 5px) {
    @include css3-prefix('border-radius', $radius);
}

@mixin border-radius-separate($topLeftRadius: 5px, $topRightRadius: 5px, $bottomLeftRadius: 5px, $bottomRightRadius: 5px) {
  -webkit-border-top-left-radius:     $topLeftRadius;
  -webkit-border-top-right-radius:    $topRightRadius;
  -webkit-border-bottom-right-radius: $bottomRightRadius;
  -webkit-border-bottom-left-radius:  $bottomLeftRadius;

  -moz-border-radius-topleft:     $topLeftRadius;
  -moz-border-radius-topright:    $topRightRadius;
  -moz-border-radius-bottomright: $bottomRightRadius;
  -moz-border-radius-bottomleft:  $bottomLeftRadius;

  border-top-left-radius:     $topLeftRadius;
  border-top-right-radius:    $topRightRadius;
  border-bottom-right-radius: $bottomRightRadius;
  border-bottom-left-radius:  $bottomLeftRadius;
}
