/* The Women
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.the-women {
  .women-list {
    padding-top: 2.5em;
    overflow: hidden;
    ul {
      list-style: none;
      margin: 0 auto;
      text-align: left;
      width: 100%;
      position: relative;
      padding: .5em;
      border-bottom: 1px solid $hairline;
      overflow: hidden;
      li{
        position: relative;
        margin: 0;
        vertical-align: top;
        padding: 0 1%;
        &.woman {
          a {
            div.woman-thumb {
              display: block;
              position: relative;
              padding-bottom: 65%;
              overflow: hidden;
              &:after {
                content: '';
                height: 100%;
                width: 100%;
                display: block;
                background: orange;
                position: absolute;
                top: 0;
                left: 0;
                opacity: .2;
              }
              &:hover {
                &:after {
                  opacity: .05;
                }
              }
              img {
                width: 100%;
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
              }
              p.mentor-badge {
                position: absolute;
                top: 0;
                left: 0;
                font-weight: bold;
                color: white;
                margin:0;
                line-height: 1.2em;
                display: block;
                background: $green;
                padding: .25em;
                font-size: $font-xxsmall;
                padding: .25em .75em;
                z-index: 99;
              }
            }
          }
          div.basic-info {
            padding-left: .25em;
            padding-right: .25em;
            margin-top: .75em;
            h3 {
              line-height: 1.2em;
              color: $black;
            }
            p {
              &.job-title {
                color: $gray;
                margin: .4em 0 0;
                display: block;
                line-height: 1.3em;
                font-size: $font-xsmall;
              }
              &.location {
                background: $drawer-bg;
                padding: .2em .7em .1em;
                @include border-radius(9999em);
                font-size: $font-xxsmall;
                line-height: 1.3em;
                display: inline-block;
                margin: .4em 0 0;

                // text-transform: uppercase;
              }
            }
            min-height: 8em;
            padding-bottom: 3em;
            @media screen and (min-width: $medium){
              min-height: 8em;
            }
            @media screen and (min-width: $medium-large){
              min-height: 9em;
            }
            @media screen and (min-width: $large){
              min-height: 8em;
            }
          }
          &:nth-child(2n+1){
            // Every 1st, 3rd, 5th, etc.
            .expand {
                margin-left: 0em;
                &:after {
                  left: 25%;
                  margin-left: -.9375em;
                }
            }
          }
          &:nth-child(2n+2){
            // Every 2nd, 4th, 6th, etc.
            .expand {
                margin-left: -104.1567912%; // (Images + padding width) divided by image width
                &:after {
                  left: 75%;
                  margin-left: -.9375em;
                }

            }
          }
          &:nth-child(3n+1){
            // Every 1st, 4th, 7th, etc.
            .expand {
              @media screen and (min-width: $medium){
                margin-left: 0;
                &:after {
                  left: 16.666666666%;
                  margin-left: -.9375em;
                }
              }
            }
          }
          &:nth-child(3n+2){
            // Every 2nd, 5th, 8th, etc.
            .expand {
              @media screen and (min-width: $medium){
                margin-left: -106.3781274%; // (Images + padding width) divided by image width
                &:after {
                  left: 50%;
                  margin-left: -.9375em;
                }
              }
            }
          }
          &:nth-child(3n+3){
            // Every 3rd, 6th, 9th, etc.
            .expand {
              @media screen and (min-width: $medium){
                margin-left: -212.7581748%; // (Images + padding width) divided by image width
                &:after {
                  left: 83.333333334%;
                  margin-left: -.9375em;
                }
              }
            }
          }
          &:nth-child(4n+1){
            // Every 1st, 5th, 9th, etc.
            .expand {
              @media screen and (min-width: $large){
                margin-left: 0em;
                &:after {
                  left: 12.5%;
                  margin-left: -.9375em;
                }
              }
            }
          }
          &:nth-child(4n+2){
            // Every 2nd, 6th, 10th, etc.
            .expand {
              @media screen and (min-width: $large){
                margin-left: -108.6842803%; // (Images + padding width) divided by image width
                &:after {
                  left: 37.5%;
                  margin-left: -.9375em;
                }
              }
            }
          }
          &:nth-child(4n+3){
            // Every 3rd, 7th, 11th, etc.
            .expand {
              @media screen and (min-width: $large){
                margin-left: -217.3685606%; // (Images + padding width) divided by image width
                &:after {
                  left: 62.5%;
                  margin-left: -.9375em;
                }
              }
            }
          }
          &:nth-child(4n+4){
            // Every 4th, 8th, 12th, etc.
            .expand {
              @media screen and (min-width: $large){
                margin-left: -326.0528409%;
                &:after {
                  left: 87.5%;
                  margin-left: -.9375em;
                }
              }
            }
          }
          .expand {
            width: 204.1567912%; // Container width divided by image width
            padding: 0;
            position: relative;
            background-color: $drawer-bg;
            overflow: hidden;
            height: 0;
            opacity: 0;
            @media screen and (min-width: $medium){
              width: 312.7445208%; // Container width divided by image width
            }
            @media screen and (min-width: $large){
              width: 426.0528409%; // Container width divided by image width
            }
            &:after {
              content: '';
              display: block;
              width: 0;
              height: 0;
              border-left: .9375em solid transparent;
              border-right: .9375em solid transparent;
              border-bottom: .9375em solid $drawer-bg;
              position: absolute;
              top: -.9375em;
            }
            div {
              div {
                h2 {
                  margin: 0;
                  float: left;
                }
                p {
                  color: $gray;
                  clear: both;
                  @media screen and (min-width: $medium){
                    padding: 0px 2.5em 0px 0px;
                  }
                  &.job-title {
                    color: $gray;
                    margin-top: 0;
                    @media screen and (min-width: $small){
                      margin-top: -.625em;
                    }
                  }
                  &.bio {
                    .first-word {
                      font-weight: bold;
                      color: $black;
                      letter-spacing: -.03em;
                    }
                    &:first-child {
                      margin-top: 0;
                    }
                    a {
                      color: $blue;
                      &:hover {
                        color: $dark-blue;
                      }
                    }
                  }
                  &.contact-cta {
                    .button {
                      padding-left: 2em;
                      padding-right: 2em;
                    }
                  }
                }
                a.video-thumb {
                  display: inline-block;
                  margin-top: 1.25em;
                  @media screen and (min-width: $medium){
                    margin-top: 0;
                  }
                  figure {
                    display: inline-block;
                    position: relative;
                    margin: 0;
                    width: 75%;
                    @media screen and (min-width: $small){
                      width: 100%;
                    }
                    display: inline-block;
                    position: relative;
                    div {
                      position: relative;
                      display: inline-block;
                      &:after {
                        content: '';
                        @include at2x('../images/icon-play', png, 100%);
                        display: block;
                        width: 3.6875em;
                        height: 3.6875em;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin-left: -1.875em; // Half the image height
                        margin-top: -1.875em; // Half the image height plus a little more to optically center it
                      }
                      &:hover {
                        img {
                          opacity: 1;
                        }
                      }
                      img {
                        opacity: .75;
                      }
                    }
                    figcaption {
                      margin-top: .625em;
                    }
                  }
                }
                a {
                  &.twitter {
                    display: inline-block;
                    @include at2x('../images/icon-twitter', png, 100%);
                    background-size: 100%;
                    opacity: .5;
                    height: 1.5em;
                    width: 1.5em;
                    margin-left: .625em;
                    position: relative;
                    @media screen and (min-width: $small){
                      top: -1px;
                    }
                    @media screen and (min-width: $medium){
                      height: 1.5em;
                      width: 1.5em;
                    }
                    @media screen and (min-width: $large){
                      height: 1.75em;
                      width: 1.75em;
                      top: .125em;
                    }
                    &:hover {
                      opacity: .8;
                    }
                  }
                }
                ul.other-links {
                  margin: 0;
                  padding: 0;
                  border: none;
                  li {
                    display: block;
                    width: 100%;
                    padding: 0;
                    &:before {
                      content: '';
                      display: inline-block;
                      @include at2x('../images/icon-link', png, 100%);
                      width: .8125em;
                      height: .8125em;
                      top: .1em;
                      margin-right: .25em;
                      position: relative;
                    }
                    a {
                      color: $gray;
                      font-size: $font-xsmall;
                      &:hover {
                        color: $blue;
                      }
                    }
                  }
                }
              }
            }
          }

          &.inactive {
            a {
              & * {
                opacity: .5;
              }
              div.woman-thumb {
                @include transition(opacity 500ms);
                -webkit-backface-visibility: hidden;
                img {
                  @include transition(opacity 500ms);
                  -webkit-backface-visibility: hidden;
                }
              }
              div.basic-info {
                opacity: .3;
                @include transition(opacity 500ms);
                -webkit-backface-visibility: hidden;
              }
            }
          }
          &.semi-active {
            &:hover * {
                opacity: 1;
                div.basic-info {
                  opacity: 1;
                }
            }
            a {
              & * {
                opacity: .8;
              }

              div.woman-thumb {
                @include transition(opacity 500ms);
                -webkit-backface-visibility: hidden;
                  img {
                    @include transition(opacity 500ms);
                    -webkit-backface-visibility: hidden;
                  }
              }
              div.basic-info {
                opacity: .5;
                @include transition(opacity 500ms);
                -webkit-backface-visibility: hidden;
              }
            }
          }
          &.active {
            .woman-thumb{
              @include transform(scale(1.15));
              @include transform-origin(bottom center);
              -webkit-backface-visibility: hidden;
              z-index: 100;
              @media screen and (min-width: $large){
                @include transform(scale(1.25));
              }
              img {
                opacity: 1;
                width: 100%;
              }
            }
            &:nth-last-child(-n+2) {
              .expand {
                @media screen and (min-width: $small){
                  margin-bottom: 0;
                }
              }
            }
            &:nth-last-child(-n+3) {
              .expand {
                @media screen and (min-width: $medium){
                  margin-bottom: 0;
                }
              }
            }
            .expand {
              margin-top: .5em;
              height: auto;
              min-height: 3em;
              opacity: 1;
              margin-bottom: 5.5em;
              overflow: visible;
              @media screen and (min-width: $medium) {
                margin-top: 0;
              }
              @media screen and (min-width: $medium-large) {
                margin-top: -1em;
              }
              @media screen and (min-width: $large) {
                margin-top: -1em;
              }
              div {
                padding: 1.75em 2.5em 1.875em;
                @media screen and (min-width: $medium){
                  padding: 2.5em 3.75em;
                }
                @media screen and (min-width: $large){
                  padding: 2.125em 3.25em 2em;
                }
                div {
                  padding: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
