/* The Women
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.the-women {
  .women-list {
    padding-top: 2.5em;
    ul {
      list-style: none;
      margin: 0 auto;
      text-align: left;
      width: 100%;
      position: relative;
      padding: .5em;
      li{
        position: relative;
        margin: 0;
        vertical-align: top;
        padding: 0 1%;
        &.woman {
          a {
            div.woman-thumb {
              background: $black;
              display: block;
              position: relative;
              img {
                width: 100%;
                height: 100%;
                display: block;
                @media screen and (min-width: $small){
                  opacity: .75;
                  &:hover {
                    opacity: .95;
                  }
                }
              }
              p.mentor-badge {
                position: absolute;
                top: 0;
                left: 0;
                font-weight: bold;
                color: white;
                margin:0;
                line-height: 1.2em;
                display: block;
                background: $green;
                padding: .25em;
              }
            }
          }
          div.basic-info {
            padding-right: 1em;
            margin-top: .75em;
            margin-bottom: 2.5em;
            h3 {
              line-height: 1.3em;
              color: $black;
            }
            p {
              &.location {
                color: $gray;
                margin:0;
                display: block;
                line-height: 1.3em;
                font-size: $font-small;
              }
            }
          }
          &:last-child {
            border-bottom: 1px solid $hairline-gray;
            @media screen and (min-width: $small){
              border-bottom: none;
            }
          }


          &:nth-child(2n+1){
            // Every 1st, 3rd, 5th, etc.
            .expand {
              @media screen and (min-width: $small){
                margin-left: 0em;
                &:after {
                  left: 17%;
                  margin-left: -.9375em;
                }
              }
            }
          }
          &:nth-child(2n+2){
            // Every 2nd, 4th, 6th, etc.
            .expand {
              @media screen and (min-width: $small){
                margin-left: -104.1567912%; // (Images + padding width) divided by image width
                &:after {
                  left: 50%;
                  margin-left: -.9375em;
                }
              }
            }
          }
          &:nth-child(3n+1){
            // Every 1st, 4th, 7th, etc.
            .expand {
              @media screen and (min-width: $medium){
                left: 0;
                &:after {
                  left: 17%;
                  margin-left: -.9375em;
                }
              }
            }
          }
          &:nth-child(3n+2){
            // Every 2nd, 5th, 8th, etc.
            .expand {
              @media screen and (min-width: $medium){
                margin-left: -106.3781274%; // (Images + padding width) divided by image width
                &:after {
                  left: 50%;
                  margin-left: -.9375em;
                }
              }
            }
          }
          &:nth-child(3n+3){
            // Every 3rd, 6th, 9th, etc.
            .expand {
              @media screen and (min-width: $medium){
                margin-left: -212.7581748%; // (Images + padding width) divided by image width
                &:after {
                  // left: 83%;
                  margin-left: -.9375em;
                }
              }
            }
          }
          &:nth-child(4n+1){
            // Every 1st, 5th, 9th, etc.
            .expand {
              @media screen and (min-width: $large){
                margin-left: 0em;
                &:after {
                  left: 17%;
                  margin-left: -.9375em;
                }
              }
            }
          }
          &:nth-child(4n+2){
            // Every 2nd, 6th, 10th, etc.
            .expand {
              @media screen and (min-width: $large){
                margin-left: -108.6842803%; // (Images + padding width) divided by image width
                &:after {
                  left: 50%;
                  margin-left: -.9375em;
                }
              }
            }
          }
          &:nth-child(4n+3){
            // Every 3rd, 7th, 11th, etc.
            .expand {
              @media screen and (min-width: $large){
                margin-left: -217.3685606%; // (Images + padding width) divided by image width
                &:after {
                  margin-left: -.9375em;
                }
              }
            }
          }
          &:nth-child(4n+4){
            // Every 4th, 8th, 12th, etc.
            .expand {
              @media screen and (min-width: $large){
                margin-left: -326.0528409%;
                &:after {
                  margin-left: -.9375em;
                }
              }
            }
          }
          .expand {
            width: 204.1567912%; // Container width divided by image width
            padding: 0;
            margin-top: 1.25em;
            margin-bottom: 3.125em;
            position: relative;
            background-color: $drawer-bg;
            margin-top: 0px;
            margin-bottom: 0;
            overflow: hidden;
            height: 0;
            opacity: 0;
            @media screen and (min-width: $medium){
              width: 312.7445208%; // Container width divided by image width
            }
            @media screen and (min-width: $large){
              width: 426.0528409%; // Container width divided by image width
            }
            &:after {
              content: '';
              display: block;
              width: 0;
              height: 0;
              border-left: .9375em solid transparent;
              border-right: .9375em solid transparent;
              border-bottom: .9375em solid $drawer-bg;
              position: absolute;
              top: -.9375em;
            }
            div {
              div {
                h2 {
                  margin: 0;
                  float: left;
                }
                p {
                  color: $gray;
                  clear: both;
                  @media screen and (min-width: $medium){
                    padding: 0px 2.5em 0px 0px;
                  }
                  &.job-title {
                    color: $gray;
                    margin-top: 0;
                    @media screen and (min-width: $small){
                      margin-top: -.625em;
                    }
                  }
                  &.bio {
                    a {
                      color: $blue;
                      &:hover {
                        color: $dark-blue;
                      }
                    }
                  }
                }
                a.video-thumb {
                  display: inline-block;
                  margin-top: 1.25em;
                  @media screen and (min-width: $medium){
                    margin-top: 0;
                  }
                  figure {
                    display: inline-block;
                    position: relative;
                    margin: 0;
                    width: 75%;
                    @media screen and (min-width: $small){
                      width: 100%;
                    }
                    display: inline-block;
                    position: relative;
                    div {
                      position: relative;
                      display: inline-block;
                      background: $black;
                      &:after {
                        content: '';
                        @include at2x('../images/icon-play', png, 100%);
                        display: block;
                        width: 3.6875em;
                        height: 3.6875em;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        margin-left: -1.875em; // Half the image height
                        margin-top: -1.875em; // Half the image height plus a little more to optically center it
                      }
                      &:hover {
                        img {
                          opacity: 1;
                        }
                      }
                      img {
                        opacity: .75;
                      }
                    }
                    figcaption {
                      margin-top: .625em;
                    }
                  }
                }
                a {
                  &.twitter {
                    display: inline-block;
                    @include at2x('../images/icon-twitter', png, 100%);
                    background-size: 100%;
                    opacity: .5;
                    height: 1.5em;
                    width: 1.5em;
                    margin-left: .625em;
                    position: relative;
                    @media screen and (min-width: $small){
                      top: -1px;
                    }
                    @media screen and (min-width: $medium){
                      height: 1.5em;
                      width: 1.5em;
                    }
                    @media screen and (min-width: $large){
                      height: 1.75em;
                      width: 1.75em;
                      top: .125em;
                    }
                    &:hover {
                      opacity: .8;
                    }
                  }
                }
                ul.other-links {
                  li {
                    display: block;
                    width: 100%;
                    a {
                      color: $blue;
                      &:hover {
                        color: $dark-blue;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        &.woman.active {
          .woman-thumb{
            img {
              opacity: .9;
              width: 100%;
            }
          }
          &:nth-last-child(-n+2) {
            .expand {
              @media screen and (min-width: $small){
                margin-bottom: 0;
              }
            }
          }
          &:nth-last-child(-n+3) {
            .expand {
              @media screen and (min-width: $medium){
                margin-bottom: 0;
              }
            }
          }
          .expand {
            height: auto;
            opacity: 1;
            margin-top: 1.25em;
            margin-bottom: 1.25em;
            overflow: visible;

            div {
              padding: 1.75em 2.5em 1.875em;
              @media screen and (min-width: $medium){
                padding: 2.5em 3.75em;
              }
              @media screen and (min-width: $large){
                padding: 3.125em 6.25em;
              }
              div {
                padding: 0;
              }
            }
          }
        }
      }
    }
  }
}
