<div class="page-footer ">
  <div class="row">
    <div class="medium-4 columns logo">
      <a href="index.html"><img src="images/whw-logo-dark.png" data-at2x="images/whw-logo-dark@2x.png"/></a>
    </div>
    <div class="medium-8 columns main-menu">
      <ul class="medium-horizontal menu ">
        <li><a href="the-program.html" title="Learn about the Women Helping Women Program">Program</a></li>
        <li><a href="the-women.html" title="Meet the Women behing Women Helping Women">Women</a></li>
        <li><a href="the-blogs.html" title="Read articles by Ember Women">Writing</a></li>
        <li><a href="https://tilde.wufoo.com/forms/ember-women-helping-women-contact-us">Contact</a></li>
      </ul>
    </div>
  </div>
  <div class="row note">
    <div class="small-12 medium-8 columns">
      <p>Please note that this is a women-only event that intends an inclusive definition of women. We are welcoming and respectful of trans women and any others who identify as women in a way that is significant to them.</p>
    </div>
  </div>
</div>
<%= javascript_include_tag  "all" %>
