<div class="page-footer ">
  <div class="row">
    <div class="medium-4 columns logo">
      <a href="index.html"><img src="images/whw-logo-dark.png" data-at2x="images/whw-logo-dark@2x.png"/></a>
    </div>
    <div class="medium-8 columns main-menu">
      <ul class="medium-horizontal menu ">
        <li><a href="the-program.html">The Program</a></li>
        <li><a href="the-women.html">The Women</a></li>
        <li><a href="https://tilde.wufoo.com/forms/ember-women-helping-women-contact-us">Contact Us</a></li>
      </ul>
    </div>
  </div>
</div>

<%= javascript_include_tag  "all" %>
