<section class="page-header">
  <div class="row">
    <div class="medium-4 columns logo">
      <% if current_page.data.title == "Ember Women Helping Women" %>
      <img src="images/whw-logo-dark.png" data-at2x="images/whw-logo-dark@2x.png"/></a>
      <% else %>
      <a href="index.html"><img src="images/whw-logo.png" data-at2x="images/whw-logo@2x.png"/></a>
      <% end %>
    </div>
    <div class="medium-8 columns main-menu">
      <ul class="medium-horizontal menu">
        <li class=""><a href="the-program.html" id="the-program" title="Learn about the Women Helping Women Program">Program</a></li>
        <li class=""><a href="the-women.html" id="the-women" title="Meet the Women behing Women Helping Women">Women</a></li>
        <li><a href="the-blogs.html" id="the-blogs" title="Read articles by Ember Women">Writing</a></li>
        <li class=""><a href="#sign-up" class="button" title="Join the mailing list for access">Sign Up</a></li>
      </ul>
    </div>
  </div>
</section>
