<section class="page-header">
  <div class="row">
    <div class="medium-4 columns logo">
      <a href="index.html"><img src="images/whw-logo.png" data-at2x="images/whw-logo@2x.png"/></a>
    </div>
    <div class="medium-8 columns main-menu">
      <ul class="medium-horizontal menu">
        <li class=""><a href="the-program.html" id="the-program" title="Learn about the Women Helping Women Program">The Program</a></li>
        <li class=""><a href="the-women.html" id="the-women" title="Meet the Women behing Women Helping Women">The Women</a></li>
        <li class=""><a href="#sign-up" class="button" title="Join the mailing list for access">Sign Up</a></li>
      </ul>
    </div>
  </div>
</section>
