<div class="row">
  <div class="large-12 columns xsponsors-footer">
    <div>
      <p><span>Ember Women Helping Women</span> is sponsored by <a href="http://tilde.io" class="xsponsor-logo"><img src="images/tilde-logo.png" data-at2x="images/tilde-logo@2x.png" alt="Tilde"/></a></p>
      <a href="become-a-sponsor.html" class="button stroked">Become a sponsor</a>
    </div>
  </div>
</div>
