---
title: Ember Women Helping Women
---
<section class="home">
  <section class="showcase">
    <section class="page-header">
      <div class="row">
        <div class="medium-4 columns logo">
          <a href="index.html"><img src="images/whw-logo-dark.png" data-at2x="images/whw-logo-dark@2x.png"/></a>
        </div>
        <div class="medium-8 columns main-menu">
          <ul class="medium-horizontal menu">
            <li><a href="the-program.html" title="Learn about the Women Helping Women Program">The Program</a></li>
            <li><a href="the-women.html" title="Meet the Women behing Women Helping Women">The Women</a></li>
            <li class=""><a href="#sign-up" class="button" title="Join the mailing list for access">Sign Up</a></li>
          </ul>
        </div>
      </div>
    </section>
    <section class="page-intro">
      <div class="row">
        <div class="small-12 medium-8 large-7 columns end">
          <h1>Helping women take the stage.</h1>
          <p>We help women land speaking roles at tech conferences through ongoing mentorship, support and connections to event organizers around the world.</p>
          <a class="button" href="the-program.html">Learn about the program</a>
        </div>
      </div>
    </section>
  </section>
  <section class="women-intro">
    <div class="row">
      <div class="small-12 columns">
        <div class="border-wrapper">
          <img src="images/women-collage.jpg" data-at2x="images/women-collage@2x.jpg" />
          <h2>From a team with experience.</h2>
          <p>We not only speak at conferences, <a href="http://emberconf.com/about.html#meet-leah" title="Learn about Emberconf">we organize them!</a> We know what makes a good talk and what conference organizers are looking for in a proposal; we want to help our members with both, and help events around the world connect with our members.</p>
          <a class="button" href="the-women.html">Meet the women involved</a>
        </div>
      </div>
    </div>
  </section>
  <%= partial "signup-form" %>
  <%= partial "xsponsors-footer" %>
  <%= partial "footer" %>

  <!-- <script src="js/vendor/jquery.js"></script>
  <script src="js/vendor/expand.js"></script> -->
  <script>
  $(document).ready(function() {
    $('.pitch-video').magnificPopup({
      disableOn: 700,
      type: 'iframe',
      mainClass: 'mfp-fade',
      removalDelay: 160,
      preloader: false,

      fixedContentPos: false
    });
  });
  </script>

  <!-- <script src="js/vendor/what-input.js"></script>
  <script src="js/vendor/foundation.js"></script>
  <script src="js/vendor/magnificent-popup.js"></script>
  <script src="js/app.js"></script>
  <script src="js/vendor/retina.js"></script> -->
  <script> // Animate Scroll-To Links
  $(document).ready(function(){
    $('a[href^="#"]').on('click',function (e) {
      e.preventDefault();

      var target = this.hash;
      var $target = $(target);

      $('html, body').stop().animate({
        'scrollTop': $target.offset().top
      }, 800, function () {
        window.location.hash = target;
      });
    });
  });
  </script>
</section>
